<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iterativeViewVisibility</key>
	<string>delegateNearTemple</string>
	<key>marginFromKind</key>
	<string>giftProxyBrightness</string>
	<key>normalMarginKind</key>
	<string>navigationAndForm</string>
	<key>robustBitrateRate</key>
	<string>animatedChannelsRight</string>
	<key>shaderOrFramework</key>
	<string>dialogsPatternAppearance</string>
</dict>
</plist>
