<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstSinkRight</key>
	<string>geometricSizeFrequency</string>
	<key>fusedAwaitType</key>
	<string>featureBeyondType</string>
	<key>interfaceBeyondAdapter</key>
	<string>resultNearMode</string>
	<key>reducerOfAdapter</key>
	<string>webLocalizationTail</string>
	<key>smallResourceSaturation</key>
	<string>popupVersusState</string>
	<key>textInterpreterTransparency</key>
	<string>reactiveLocalizationBrightness</string>
</dict>
</plist>
