<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerFlyweightBrightness</key>
	<string>globalStatelessSkewy</string>
	<key>disabledAssetRate</key>
	<string>mobilePhaseContrast</string>
	<key>ephemeralPresenterAppearance</key>
	<string>serviceAmongTier</string>
	<key>instructionVarLeft</key>
	<string>featureAgainstNumber</string>
</dict>
</plist>
