<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexScopeEdge</key>
	<string>entityTypeSpeed</string>
	<key>globalTechniqueCoord</key>
	<string>streamViaVisitor</string>
	<key>grayscaleAboutDecorator</key>
	<string>futureAndFlyweight</string>
	<key>prevRequestBrightness</key>
	<string>sharedPresenterTension</string>
	<key>storageFromObserver</key>
	<string>interactivePlateCenter</string>
</dict>
</plist>
