<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionAnimatedcontainerMode</key>
	<string>alphaThroughParameter</string>
	<key>animatedcontainerDecoratorColor</key>
	<string>labelStructureDepth</string>
	<key>awaitWithoutState</key>
	<string>cursorNearOperation</string>
	<key>builderKindSpeed</key>
	<string>swiftOrLayer</string>
	<key>delegateInterpreterVisibility</key>
	<string>currentCheckboxPressure</string>
	<key>disparateSizeDistance</key>
	<string>storeExceptCycle</string>
	<key>iconPlatformTension</key>
	<string>themeInsideDecorator</string>
	<key>singleListenerVisibility</key>
	<string>resultFacadeDensity</string>
	<key>subpixelAroundActivity</key>
	<string>scrollableEventSpacing</string>
</dict>
</plist>
