<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionSinceBuffer</key>
	<string>alphaContainCommand</string>
	<key>crucialCurveCenter</key>
	<string>visibleBrushBrightness</string>
	<key>inheritedCacheSkewy</key>
	<string>decorationVersusType</string>
	<key>localizationStageCenter</key>
	<string>textAroundStrategy</string>
	<key>managerAgainstWork</key>
	<string>consultativeCellOffset</string>
	<key>modelObserverSkewy</key>
	<string>riverpodThanOperation</string>
	<key>oldDelegatePosition</key>
	<string>apertureUntilMode</string>
	<key>storyboardBesideDecorator</key>
	<string>autoOptimizerCount</string>
	<key>transformerTypeIndex</key>
	<string>activeTangentBrightness</string>
	<key>widgetBufferPressure</key>
	<string>handlerChainType</string>
</dict>
</plist>
