<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gemStructureSkewx</key>
	<string>sizeThanChain</string>
	<key>gemSystemKind</key>
	<string>titleLayerStatus</string>
	<key>interactorSinceAdapter</key>
	<string>singleDecorationAppearance</string>
	<key>responsiveProviderVelocity</key>
	<string>routeBesideTier</string>
	<key>storeAsEnvironment</key>
	<string>hierarchicalCurveInterval</string>
	<key>temporaryEntityPadding</key>
	<string>transformerParamHue</string>
	<key>tweenShapeInset</key>
	<string>customModelAppearance</string>
</dict>
</plist>
