<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionEnvironmentInteraction</key>
	<string>intuitiveProjectionVisible</string>
	<key>euclideanTextSpacing</key>
	<string>persistentBlocOrigin</string>
	<key>featureDecoratorPressure</key>
	<string>giftPhaseVisible</string>
	<key>geometricOffsetRate</key>
	<string>nativeSingletonSaturation</string>
	<key>hierarchicalCardAcceleration</key>
	<string>bulletMementoOrientation</string>
	<key>parallelApertureVelocity</key>
	<string>variantPrototypeStyle</string>
	<key>specifierVarRight</key>
	<string>modulusTypeResponse</string>
	<key>transitionAndMode</key>
	<string>dialogsAboutType</string>
</dict>
</plist>
