<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectAndContext</key>
	<string>allocatorContainPlatform</string>
	<key>captionSinceParameter</key>
	<string>kernelShapeInset</string>
	<key>challengeContainTemple</key>
	<string>sustainableMetadataPosition</string>
	<key>denseAllocatorValidation</key>
	<string>hyperbolicPointAcceleration</string>
	<key>enabledGesturedetectorSkewy</key>
	<string>projectionKindTop</string>
	<key>playbackVersusNumber</key>
	<string>kernelInFacade</string>
	<key>queueSinceVariable</key>
	<string>mediaPatternOrientation</string>
	<key>sessionAboutNumber</key>
	<string>gramInsideValue</string>
	<key>standaloneCubitInteraction</key>
	<string>agileCatalystAcceleration</string>
	<key>textStrategyOpacity</key>
	<string>similarCoordinatorForce</string>
</dict>
</plist>
