<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorObserverRight</key>
	<string>previewParameterSpacing</string>
	<key>chartOrShape</key>
	<string>commonMaterialFlags</string>
	<key>currentGrayscaleInteraction</key>
	<string>basicCardSize</string>
	<key>gesturedetectorIncludeMode</key>
	<string>hardUsecaseTint</string>
	<key>hardOffsetSaturation</key>
	<string>captionObserverTheme</string>
	<key>missedCubitSpacing</key>
	<string>metadataViaLevel</string>
	<key>multiplicationActivityDistance</key>
	<string>subpixelOrMemento</string>
	<key>stackActivityTheme</key>
	<string>advancedConvolutionLocation</string>
	<key>textureOutsideFramework</key>
	<string>mediumIsolateVisibility</string>
	<key>utilThroughVar</key>
	<string>checkboxAwayDecorator</string>
</dict>
</plist>
