<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gradientCommandAppearance</key>
	<string>asyncResolverInset</string>
	<key>hardMediaqueryLeft</key>
	<string>streamFormEdge</string>
	<key>keyCapacitiesRight</key>
	<string>interactorWithoutTemple</string>
	<key>keyResultSkewx</key>
	<string>groupPrototypeOrigin</string>
	<key>lossBeyondCycle</key>
	<string>hardStatefulSize</string>
	<key>paddingLayerLocation</key>
	<string>prismaticBuilderOffset</string>
	<key>permanentBlocMargin</key>
	<string>primaryButtonAcceleration</string>
	<key>promiseSystemMargin</key>
	<string>sessionProxyTag</string>
	<key>sliderMediatorType</key>
	<string>streamStyleDelay</string>
</dict>
</plist>
