<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushLikeProcess</key>
	<string>observerFunctionBottom</string>
	<key>builderPatternFeedback</key>
	<string>tableAtTemple</string>
	<key>memberLayerDensity</key>
	<string>effectEnvironmentPadding</string>
	<key>overlayKindDelay</key>
	<string>radioShapeRate</string>
	<key>sortedChapterOrientation</key>
	<string>texturePatternScale</string>
</dict>
</plist>
