<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerMediaqueryOrientation</key>
	<string>callbackDespiteScope</string>
	<key>commonDialogsLocation</key>
	<string>ignoredGemState</string>
	<key>crucialMediaSpeed</key>
	<string>baseContainMemento</string>
	<key>exceptionKindOpacity</key>
	<string>smartSliderOrigin</string>
	<key>otherBufferInteraction</key>
	<string>functionalTableStatus</string>
	<key>richtextStyleVisible</key>
	<string>promiseCycleOpacity</string>
	<key>symmetricDurationInset</key>
	<string>borderVariableBorder</string>
</dict>
</plist>
