<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentPageviewFeedback</key>
	<string>subscriptionVersusAdapter</string>
	<key>documentThanNumber</key>
	<string>stateLevelTail</string>
	<key>invisibleSinkDistance</key>
	<string>descriptorFromBridge</string>
	<key>popupWithoutAdapter</key>
	<string>singleAspectratioValidation</string>
	<key>resultLayerDirection</key>
	<string>futureMethodMomentum</string>
	<key>sliderAtOperation</key>
	<string>toolStatePressure</string>
	<key>widgetWithContext</key>
	<string>inheritedEffectLocation</string>
</dict>
</plist>
