<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentMediatorColor</key>
	<string>concurrentTextTension</string>
	<key>functionalMapCenter</key>
	<string>remainderAmongLevel</string>
	<key>isolateStructureDelay</key>
	<string>statelessDespiteComposite</string>
	<key>reactiveSegueContrast</key>
	<string>normAmongStrategy</string>
	<key>subpixelStyleDuration</key>
	<string>permissiveRouteType</string>
	<key>topicCommandFormat</key>
	<string>reducerWithoutPlatform</string>
</dict>
</plist>
