<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyBuilderHead</key>
	<string>asyncWorkStatus</string>
	<key>globalRectSpacing</key>
	<string>commonEqualizationAppearance</string>
	<key>greatSlashPosition</key>
	<string>descriptorFromPrototype</string>
	<key>intensityAroundCommand</key>
	<string>factoryAroundAction</string>
	<key>protectedTopicPadding</key>
	<string>subscriptionModeShade</string>
	<key>touchForLevel</key>
	<string>customizedCharacterType</string>
</dict>
</plist>
