<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryStrategyStatus</key>
	<string>resourceInsideComposite</string>
	<key>buttonSingletonSkewy</key>
	<string>listenerJobFlags</string>
	<key>channelsStructureInteraction</key>
	<string>metadataContainParameter</string>
	<key>concurrentAwaitAcceleration</key>
	<string>sophisticatedLoopName</string>
	<key>eventAmongAdapter</key>
	<string>uniqueCubitSkewx</string>
	<key>resourceOutsideScope</key>
	<string>richtextEnvironmentStyle</string>
	<key>robustAnchorState</key>
	<string>directPaddingStatus</string>
	<key>transitionStyleStatus</key>
	<string>compositionEnvironmentShade</string>
</dict>
</plist>
