<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationVisitorHue</key>
	<string>specifyButtonForce</string>
	<key>observerAroundMemento</key>
	<string>concreteBlocOrientation</string>
	<key>prismaticTextureResponse</key>
	<string>integerCompositeFormat</string>
	<key>repositoryNearMode</key>
	<string>significantMenuPadding</string>
	<key>sustainableAlphaFrequency</key>
	<string>batchNumberTail</string>
	<key>uniformRoleKind</key>
	<string>materialScopeTag</string>
</dict>
</plist>
