<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fusedConsumerName</key>
	<string>workflowVisitorOrigin</string>
	<key>nativeMobileOrientation</key>
	<string>cupertinoFrameStatus</string>
	<key>popupAroundProxy</key>
	<string>toolDuringMemento</string>
	<key>radiusViaNumber</key>
	<string>layoutTypeIndex</string>
	<key>resolverWorkVisibility</key>
	<string>rectNearActivity</string>
	<key>rowAroundInterpreter</key>
	<string>staticObserverOrigin</string>
	<key>seamlessFeatureTail</key>
	<string>crucialHashState</string>
	<key>similarSizeBound</key>
	<string>otherPositionRate</string>
</dict>
</plist>
