<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorShapeTransparency</key>
	<string>alignmentLevelTop</string>
	<key>criticalClipperBehavior</key>
	<string>sinkWithoutParameter</string>
	<key>handlerNumberInset</key>
	<string>cosineNearProcess</string>
	<key>ignoredEntityTransparency</key>
	<string>labelAtEnvironment</string>
	<key>imperativeTickerKind</key>
	<string>modelDuringAdapter</string>
	<key>inactivePrecisionStatus</key>
	<string>dependencySinceProxy</string>
	<key>largePresenterType</key>
	<string>masterTypeAcceleration</string>
	<key>layoutStateFlags</key>
	<string>mobxActivityState</string>
	<key>localizationTempleScale</key>
	<string>localizationEnvironmentAppearance</string>
	<key>tabbarMediatorFormat</key>
	<string>builderSystemSkewy</string>
</dict>
</plist>
