<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionBufferOpacity</key>
	<string>overlayAroundFacade</string>
	<key>criticalSlashCenter</key>
	<string>builderAboutMediator</string>
	<key>heroIncludeLayer</key>
	<string>pinchableVectorCoord</string>
	<key>managerJobContrast</key>
	<string>pinchableStorageAcceleration</string>
	<key>pageviewStageOrigin</key>
	<string>publicTransitionTop</string>
	<key>prevClipperMode</key>
	<string>flexibleEntityState</string>
	<key>specifyButtonIndex</key>
	<string>layoutBesideVisitor</string>
	<key>statelessNavigatorInteraction</key>
	<string>globalTableMomentum</string>
</dict>
</plist>
