<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionThroughStage</key>
	<string>pivotalConstraintInteraction</string>
	<key>easyScrollDelay</key>
	<string>memberBesideAdapter</string>
	<key>imperativeAnchorInteraction</key>
	<string>newestControllerKind</string>
	<key>mobileContainScope</key>
	<string>blocStateName</string>
	<key>resizableSignatureEdge</key>
	<string>synchronousNormDelay</string>
	<key>routeInsideCycle</key>
	<string>autoMonsterContrast</string>
</dict>
</plist>
