<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateIncludeOperation</key>
	<string>titleExceptStructure</string>
	<key>difficultTaskCoord</key>
	<string>decorationAroundVar</string>
	<key>multiNodeDirection</key>
	<string>dedicatedPositionedSize</string>
	<key>stackFrameworkTag</key>
	<string>grayscaleForVisitor</string>
	<key>visibleSpineDistance</key>
	<string>disparateBrushSize</string>
</dict>
</plist>
