<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistVisitorHead</key>
	<string>euclideanLogForce</string>
	<key>hierarchicalHeroSaturation</key>
	<string>subscriptionNearLayer</string>
	<key>isolateScopeVisible</key>
	<string>largeEventSaturation</string>
	<key>methodAlongFlyweight</key>
	<string>euclideanButtonFormat</string>
	<key>mobxModeSkewx</key>
	<string>intermediateAnimationTail</string>
	<key>modelValueRate</key>
	<string>appbarExceptCycle</string>
	<key>radioBridgeLocation</key>
	<string>concreteMenuName</string>
	<key>resultNumberStyle</key>
	<string>routeAndTask</string>
	<key>sharedAwaitFormat</key>
	<string>customDialogsName</string>
	<key>typicalCursorPressure</key>
	<string>respectiveStackDepth</string>
</dict>
</plist>
