<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncMovementPosition</key>
	<string>delegateParamAppearance</string>
	<key>blocBeyondObserver</key>
	<string>buttonChainTension</string>
	<key>chartPerMediator</key>
	<string>gramOutsideActivity</string>
	<key>dialogsOfScope</key>
	<string>subscriptionVarRight</string>
	<key>eventViaLayer</key>
	<string>hierarchicalBoxVisibility</string>
	<key>flexibleGradientOpacity</key>
	<string>transitionAwayShape</string>
	<key>listviewExceptEnvironment</key>
	<string>ephemeralCatalystLeft</string>
	<key>loopVariableLeft</key>
	<string>dynamicDependencyInterval</string>
	<key>memberVersusLevel</key>
	<string>matrixCompositeSize</string>
	<key>prevExponentBehavior</key>
	<string>durationUntilPrototype</string>
</dict>
</plist>
