<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousSegmentSpacing</key>
	<string>listenerContainParameter</string>
	<key>decorationBesideAction</key>
	<string>largeCanvasColor</string>
	<key>dialogsDuringScope</key>
	<string>difficultArithmeticRotation</string>
	<key>independentListenerCoord</key>
	<string>featureAroundComposite</string>
	<key>interpolationIncludePlatform</key>
	<string>slashMementoHead</string>
	<key>priorProfileKind</key>
	<string>errorDespiteInterpreter</string>
	<key>stateShapeDistance</key>
	<string>rectTierEdge</string>
	<key>threadStageMargin</key>
	<string>alignmentAgainstAdapter</string>
	<key>uniformCustompaintSize</key>
	<string>diffableAlignmentForce</string>
</dict>
</plist>
