<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveContractionStatus</key>
	<string>awaitShapeEdge</string>
	<key>apertureWithoutScope</key>
	<string>newestCycleInterval</string>
	<key>menuPlatformVisibility</key>
	<string>usageInsideEnvironment</string>
	<key>methodStructureRight</key>
	<string>layerAboutLevel</string>
	<key>queryDespiteMediator</key>
	<string>exceptionFrameworkPosition</string>
	<key>resilientTransitionIndex</key>
	<string>topicActionRotation</string>
	<key>tappableResultSize</key>
	<string>featureVersusTask</string>
	<key>tappableStampTail</key>
	<string>semanticResultTail</string>
	<key>textureLikeType</key>
	<string>titleOrTemple</string>
</dict>
</plist>
