<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderForProxy</key>
	<string>repositoryPhaseInterval</string>
	<key>buttonProxySpeed</key>
	<string>remainderWithoutActivity</string>
	<key>materialWithoutFramework</key>
	<string>isolateDecoratorIndex</string>
	<key>skirtAwayCycle</key>
	<string>commonMissionSpacing</string>
</dict>
</plist>
