<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedCubitTheme</key>
	<string>controllerMementoMargin</string>
	<key>descriptionForFlyweight</key>
	<string>tweenContainBuffer</string>
	<key>ignoredDecorationAlignment</key>
	<string>smartGramAlignment</string>
	<key>mediocreCompletionBorder</key>
	<string>semanticAppbarFlags</string>
	<key>navigatorAlongLayer</key>
	<string>singletonByActivity</string>
	<key>paddingExceptObserver</key>
	<string>gridviewPatternSkewy</string>
	<key>pointOutsideFunction</key>
	<string>requiredNibState</string>
	<key>sortedManagerFrequency</key>
	<string>cursorBeyondProxy</string>
	<key>synchronousLocalizationForce</key>
	<string>checkboxStateInterval</string>
</dict>
</plist>
