<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioJobInterval</key>
	<string>resizableConfigurationSaturation</string>
	<key>axisNumberCenter</key>
	<string>transitionCommandTransparency</string>
	<key>beginnerFrameInterval</key>
	<string>groupAsActivity</string>
	<key>multiplicationDuringStrategy</key>
	<string>difficultConstraintFrequency</string>
	<key>resizableMethodResponse</key>
	<string>extensionVarMomentum</string>
	<key>routerViaDecorator</key>
	<string>buttonVarStatus</string>
	<key>storyboardSystemAlignment</key>
	<string>callbackBesideVariable</string>
	<key>transitionOfVariable</key>
	<string>injectionPhaseDepth</string>
</dict>
</plist>
