<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionWithStyle</key>
	<string>utilAboutWork</string>
	<key>disparateBatchBottom</key>
	<string>adaptiveClipperRotation</string>
	<key>granularChapterDirection</key>
	<string>subtleGesturedetectorTransparency</string>
	<key>interactiveControllerLeft</key>
	<string>mediumFrameDelay</string>
	<key>memberViaTier</key>
	<string>textActionOffset</string>
	<key>spineForParameter</key>
	<string>curveStageDelay</string>
	<key>transitionDespiteProcess</key>
	<string>relationalFeatureVisible</string>
</dict>
</plist>
