<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetOfStage</key>
	<string>capacitiesStateMargin</string>
	<key>cubitAboutTemple</key>
	<string>semanticDelegateMomentum</string>
	<key>eventStyleTag</key>
	<string>textureAsNumber</string>
	<key>expandedIncludeComposite</key>
	<string>responsiveContainerDistance</string>
	<key>gridviewTierStyle</key>
	<string>nextNodeTop</string>
	<key>invisibleGroupRight</key>
	<string>callbackInsideMemento</string>
	<key>painterByPhase</key>
	<string>gradientShapeContrast</string>
	<key>sampleThanActivity</key>
	<string>textfieldSingletonPosition</string>
</dict>
</plist>
