<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletPerCommand</key>
	<string>transformerPrototypePressure</string>
	<key>cacheOfStage</key>
	<string>stateMethodColor</string>
	<key>coordinatorInProcess</key>
	<string>transformerAlongTask</string>
	<key>cubitTypeCount</key>
	<string>petAndFlyweight</string>
	<key>futureJobKind</key>
	<string>reducerInsideForm</string>
	<key>primarySpotShade</key>
	<string>mapThroughNumber</string>
</dict>
</plist>
