<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerChartCoord</key>
	<string>resolverThroughVariable</string>
	<key>cartesianConstraintTint</key>
	<string>nodeBesidePhase</string>
	<key>concreteHashStatus</key>
	<string>positionOperationFeedback</string>
	<key>delegateStyleEdge</key>
	<string>methodFrameworkVisibility</string>
	<key>directlyCheckboxCoord</key>
	<string>intensitySinceEnvironment</string>
	<key>liteBaselineBound</key>
	<string>enabledLabelOrigin</string>
</dict>
</plist>
