<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationAwayParameter</key>
	<string>spotInTier</string>
	<key>flexAmongStructure</key>
	<string>tensorChapterPressure</string>
	<key>injectionAndActivity</key>
	<string>originalBuilderStyle</string>
	<key>menuModeTint</key>
	<string>primaryAllocatorHue</string>
</dict>
</plist>
