<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeRepositoryResponse</key>
	<string>titleAtAction</string>
	<key>invisibleOptionInteraction</key>
	<string>reusableInstructionSkewy</string>
	<key>nodeJobColor</key>
	<string>titleAwayStage</string>
	<key>widgetNearVisitor</key>
	<string>widgetAlongPhase</string>
</dict>
</plist>
