<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedRadiusLocation</key>
	<string>materialHandlerIndex</string>
	<key>axisAtCycle</key>
	<string>easyOffsetTint</string>
	<key>inactivePlaybackDistance</key>
	<string>navigatorJobCenter</string>
	<key>semanticCompletionDistance</key>
	<string>titleFormScale</string>
	<key>sophisticatedTimerFlags</key>
	<string>interactiveCallbackOrigin</string>
</dict>
</plist>
