<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonMethodOpacity</key>
	<string>resolverCommandAlignment</string>
	<key>protocolThroughContext</key>
	<string>buttonUntilFacade</string>
	<key>semanticListenerTail</key>
	<string>materialAsyncLocation</string>
	<key>signVersusVariable</key>
	<string>customSwiftState</string>
	<key>storePrototypeMargin</key>
	<string>graphWithKind</string>
	<key>tabbarScopeInset</key>
	<string>effectTaskBorder</string>
</dict>
</plist>
