<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticPetSaturation</key>
	<string>utilContainStage</string>
	<key>constraintTemplePadding</key>
	<string>interfaceUntilWork</string>
	<key>cosineProcessTransparency</key>
	<string>buttonTempleFeedback</string>
	<key>listviewTierIndex</key>
	<string>notifierContainAction</string>
	<key>parallelNormContrast</key>
	<string>reactiveQueryCount</string>
</dict>
</plist>
