<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteChecklistVelocity</key>
	<string>disparateSubpixelSkewx</string>
	<key>standaloneDialogsInterval</key>
	<string>constraintExceptStrategy</string>
</dict>
</plist>
