<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAsOperation</key>
	<string>iconWithType</string>
	<key>autoConstraintVisibility</key>
	<string>durationDespiteNumber</string>
	<key>curveViaMediator</key>
	<string>concurrentPresenterHue</string>
	<key>menuWorkHead</key>
	<string>easyNodeBottom</string>
	<key>paddingBesideSingleton</key>
	<string>visibleZoneBottom</string>
	<key>reusableProviderColor</key>
	<string>containerForPrototype</string>
	<key>richtextVariableIndex</key>
	<string>topicAroundStrategy</string>
	<key>secondNavigationOrigin</key>
	<string>opaqueStepRate</string>
	<key>singletonBufferTop</key>
	<string>lastTopicSpeed</string>
</dict>
</plist>
