<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferOutsideNumber</key>
	<string>seamlessLayerTheme</string>
	<key>handlerInsideActivity</key>
	<string>durationViaFacade</string>
	<key>parallelMovementBound</key>
	<string>marginProcessShade</string>
	<key>priorAxisFlags</key>
	<string>newestDescriptionOpacity</string>
</dict>
</plist>
