<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardSinkInterval</key>
	<string>coordinatorFormRate</string>
	<key>handlerInProcess</key>
	<string>completerExceptChain</string>
	<key>skirtEnvironmentDuration</key>
	<string>symmetricGateIndex</string>
	<key>substantialModulusOffset</key>
	<string>routerParameterSpacing</string>
	<key>touchActivityHead</key>
	<string>radioNearVariable</string>
	<key>viewDecoratorDensity</key>
	<string>subtlePointCoord</string>
</dict>
</plist>
