<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveScopePressure</key>
	<string>interfaceDuringShape</string>
	<key>enabledIntensityAlignment</key>
	<string>containerSingletonAppearance</string>
	<key>finalUnaryStyle</key>
	<string>resourceMementoDensity</string>
	<key>materialSinceTemple</key>
	<string>multiplicationPrototypeOpacity</string>
	<key>methodAdapterSkewx</key>
	<string>lossAgainstDecorator</string>
	<key>musicAlongAction</key>
	<string>parallelBaseFlags</string>
	<key>queueAboutCycle</key>
	<string>utilSinceComposite</string>
	<key>segmentInsideStage</key>
	<string>sensorChainVisible</string>
</dict>
</plist>
