<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderPatternAcceleration</key>
	<string>positionedKindCount</string>
	<key>clipperNearLayer</key>
	<string>multiTextCount</string>
	<key>hierarchicalSubpixelTheme</key>
	<string>reducerNearPhase</string>
	<key>inactiveErrorBrightness</key>
	<string>nodeActivitySpeed</string>
	<key>semanticsThanTier</key>
	<string>handlerInsideForm</string>
	<key>substantialRouterContrast</key>
	<string>sizeLevelBorder</string>
	<key>textWithoutMemento</key>
	<string>immediateUnaryFlags</string>
	<key>textureChainContrast</key>
	<string>radioObserverFlags</string>
</dict>
</plist>
