<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAsObserver</key>
	<string>hashWorkTag</string>
	<key>buttonCommandTint</key>
	<string>signContextSkewy</string>
	<key>resultViaScope</key>
	<string>entityTaskBehavior</string>
	<key>statefulProfileBorder</key>
	<string>lostSingletonMode</string>
</dict>
</plist>
