<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterViaVar</key>
	<string>arithmeticMissionVisible</string>
	<key>fusedSwitchPressure</key>
	<string>cubitBufferBottom</string>
	<key>presenterLevelType</key>
	<string>delicateObserverSkewx</string>
	<key>statefulStreamInset</key>
	<string>persistentPageviewSaturation</string>
	<key>staticDependencyTint</key>
	<string>channelMementoRight</string>
</dict>
</plist>
