<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>reusablePageviewMargin</key>
	<string>tableStyleShape</string>
	<key>slashExceptParameter</key>
	<string>integerViaDecorator</string>
	<key>usedGrayscaleTension</key>
	<string>smartNavigatorTag</string>
</dict>
</plist>
