<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerPhaseDelay</key>
	<string>nextMaterialBottom</string>
	<key>difficultFrameInset</key>
	<string>gridIncludeMemento</string>
	<key>independentShaderEdge</key>
	<string>scrollableRouterState</string>
	<key>navigationNumberInterval</key>
	<string>largeMovementHead</string>
	<key>normAgainstProxy</key>
	<string>flexTaskStyle</string>
	<key>requestScopeTransparency</key>
	<string>memberJobTop</string>
	<key>resolverAwayActivity</key>
	<string>geometricCellVelocity</string>
	<key>routeLikeLevel</key>
	<string>unactivatedDecorationTheme</string>
	<key>uniqueClipperSaturation</key>
	<string>keySpotBrightness</string>
</dict>
</plist>
