<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedScaleAcceleration</key>
	<string>transitionCycleColor</string>
	<key>arithmeticAppbarBottom</key>
	<string>asyncExceptionDensity</string>
	<key>checklistOperationInterval</key>
	<string>metadataAtInterpreter</string>
	<key>composableResourceColor</key>
	<string>offsetAtPhase</string>
	<key>concreteFactoryTop</key>
	<string>uniqueAppbarScale</string>
	<key>immediateColumnOffset</key>
	<string>immediatePreviewDepth</string>
	<key>mutableCaptionCoord</key>
	<string>zoneParameterBorder</string>
	<key>resolverStyleMode</key>
	<string>getxByInterpreter</string>
	<key>rowUntilBuffer</key>
	<string>hardCardLeft</string>
</dict>
</plist>
