<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelModeValidation</key>
	<string>sineInKind</string>
	<key>gridForComposite</key>
	<string>ephemeralOffsetPadding</string>
	<key>heroBufferName</key>
	<string>eventLayerCount</string>
	<key>otherToolOffset</key>
	<string>durationThanEnvironment</string>
	<key>particleIncludeSingleton</key>
	<string>explicitReducerStatus</string>
	<key>scrollableResourceName</key>
	<string>resolverAboutVariable</string>
	<key>singleGrainLocation</key>
	<string>cubitTaskContrast</string>
	<key>statefulLayerDuration</key>
	<string>consultativeGrainSpeed</string>
</dict>
</plist>
