<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorFromAdapter</key>
	<string>materialInsideStrategy</string>
	<key>gradientTaskAppearance</key>
	<string>modelStrategyVisible</string>
	<key>imperativeAsyncDelay</key>
	<string>arithmeticOutsideComposite</string>
	<key>resourceFunctionShape</key>
	<string>masterThanBuffer</string>
	<key>slashDespiteProxy</key>
	<string>webWorkflowOrientation</string>
	<key>titlePlatformRight</key>
	<string>tabbarFlyweightMargin</string>
	<key>usecaseWorkOrientation</key>
	<string>providerFacadeContrast</string>
	<key>vectorVersusOperation</key>
	<string>labelAsMemento</string>
</dict>
</plist>
