<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorScopeCoord</key>
	<string>promiseBeyondPlatform</string>
	<key>exponentIncludeDecorator</key>
	<string>pinchableSymbolOpacity</string>
	<key>kernelWithoutSystem</key>
	<string>storageAroundActivity</string>
	<key>reactiveProfileSize</key>
	<string>bufferPlatformValidation</string>
</dict>
</plist>
