<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateCoordinatorOrientation</key>
	<string>extensionForStyle</string>
	<key>euclideanNavigatorInterval</key>
	<string>controllerEnvironmentTheme</string>
	<key>hardExceptionEdge</key>
	<string>storyboardAmongCommand</string>
	<key>plateValueSpeed</key>
	<string>symbolExceptPrototype</string>
	<key>spriteWithoutEnvironment</key>
	<string>zoneAmongPhase</string>
	<key>statelessPlateForce</key>
	<string>presenterStructureCenter</string>
	<key>uniformTransitionName</key>
	<string>indicatorAtBridge</string>
	<key>usecaseOutsideSystem</key>
	<string>offsetChainState</string>
</dict>
</plist>
