<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionSinceLayer</key>
	<string>titleVersusAction</string>
	<key>desktopCoordinatorColor</key>
	<string>ephemeralNodeLocation</string>
	<key>errorEnvironmentOffset</key>
	<string>advancedIntensityIndex</string>
	<key>graphJobTransparency</key>
	<string>usedBuilderLeft</string>
	<key>hierarchicalAsyncRate</key>
	<string>pivotalGrayscaleCenter</string>
	<key>labelStrategyTop</key>
	<string>listviewAlongChain</string>
	<key>mutableInjectionMargin</key>
	<string>providerAroundStyle</string>
	<key>resolverSystemAppearance</key>
	<string>standaloneBehaviorTail</string>
	<key>resultDuringTier</key>
	<string>alphaStyleOrigin</string>
</dict>
</plist>
