<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialCustompaintCount</key>
	<string>zoneWorkOrientation</string>
	<key>flexibleUsageBorder</key>
	<string>vectorTempleVisibility</string>
	<key>gestureScopeBottom</key>
	<string>callbackPlatformValidation</string>
	<key>mediaTaskBound</key>
	<string>subsequentAsyncIndex</string>
	<key>multiResourceState</key>
	<string>primaryCubitSkewx</string>
	<key>reusableChapterTransparency</key>
	<string>concreteParticleLeft</string>
	<key>scrollableGestureAcceleration</key>
	<string>accessibleCommandTag</string>
	<key>skinLayerColor</key>
	<string>observerFrameworkName</string>
</dict>
</plist>
