<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionThanVisitor</key>
	<string>decorationTempleFlags</string>
	<key>dedicatedScreenPadding</key>
	<string>serviceInsideVar</string>
	<key>indicatorWithPhase</key>
	<string>sizeCommandVelocity</string>
	<key>observerWithoutVariable</key>
	<string>rectStageSize</string>
	<key>otherCurveKind</key>
	<string>movementFacadeBrightness</string>
</dict>
</plist>
