<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferObserverAppearance</key>
	<string>missedFutureInterval</string>
	<key>comprehensivePositionedSpacing</key>
	<string>fixedPresenterTransparency</string>
	<key>featureAtStage</key>
	<string>unactivatedProgressbarState</string>
	<key>significantBaselineInset</key>
	<string>eagerRectTint</string>
</dict>
</plist>
