<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveAboutVisitor</key>
	<string>tangentTierStyle</string>
	<key>disparateSwitchCoord</key>
	<string>commonAspectBound</string>
	<key>greatListviewFormat</key>
	<string>protocolAlongWork</string>
	<key>musicLevelBehavior</key>
	<string>graphicVisitorInset</string>
	<key>sequentialThreadTheme</key>
	<string>groupBridgeBottom</string>
</dict>
</plist>
