<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioExceptShape</key>
	<string>curveStrategySkewy</string>
	<key>expandedAgainstScope</key>
	<string>memberMementoOrigin</string>
	<key>flexibleIsolateShade</key>
	<string>basicHandlerMargin</string>
	<key>lazyHeroHue</key>
	<string>expandedStateMode</string>
	<key>petPhaseTop</key>
	<string>curveJobAppearance</string>
	<key>radiusDuringState</key>
	<string>textureAroundObserver</string>
	<key>resourceNearNumber</key>
	<string>themeCompositeState</string>
	<key>scaffoldProcessTop</key>
	<string>routeNearTask</string>
	<key>webObserverFlags</key>
	<string>controllerOfStage</string>
</dict>
</plist>
