<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentCubitShape</key>
	<string>explicitAssetHead</string>
	<key>delegateAtSystem</key>
	<string>seamlessDimensionCenter</string>
	<key>positionedExceptParam</key>
	<string>diffableGrainCoord</string>
	<key>projectionPlatformOrientation</key>
	<string>hierarchicalAnimationTheme</string>
	<key>seamlessSkirtCount</key>
	<string>greatMatrixSkewy</string>
	<key>standaloneLabelDelay</key>
	<string>uniformSensorDepth</string>
	<key>tabbarKindLocation</key>
	<string>labelBeyondMediator</string>
</dict>
</plist>
