<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioExceptForm</key>
	<string>routerVersusDecorator</string>
	<key>composableUsecaseDuration</key>
	<string>intermediateMatrixShade</string>
	<key>localizationAsScope</key>
	<string>logarithmAsPrototype</string>
	<key>painterSinceLevel</key>
	<string>semanticsFunctionType</string>
	<key>progressbarLikeSingleton</key>
	<string>frameMediatorTheme</string>
	<key>resilientSpriteResponse</key>
	<string>keyCosineAppearance</string>
	<key>sceneBridgeSkewx</key>
	<string>sliderFunctionInterval</string>
	<key>segmentViaStyle</key>
	<string>iconVisitorDepth</string>
	<key>semanticControllerShape</key>
	<string>cubitStateTheme</string>
	<key>sineVersusForm</key>
	<string>richtextFormRate</string>
</dict>
</plist>
