<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleAndDecorator</key>
	<string>indicatorKindVelocity</string>
	<key>elasticDurationBorder</key>
	<string>geometricCatalystVisible</string>
	<key>ephemeralWidgetDensity</key>
	<string>buttonStrategyMode</string>
	<key>gesturedetectorAroundFlyweight</key>
	<string>primaryGraphAppearance</string>
	<key>graphicStageTension</key>
	<string>extensionAsProxy</string>
	<key>navigatorVarTheme</key>
	<string>aspectratioJobOpacity</string>
	<key>priorityScopeTransparency</key>
	<string>curveParameterSkewx</string>
	<key>singletonFunctionForce</key>
	<string>featureKindHue</string>
</dict>
</plist>
