<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseSliderTheme</key>
	<string>transitionOperationValidation</string>
	<key>ephemeralMarginAlignment</key>
	<string>staticEquipmentInset</string>
	<key>interfaceInsideAdapter</key>
	<string>opaqueGestureDepth</string>
	<key>mediocreChapterFeedback</key>
	<string>boxActionPressure</string>
</dict>
</plist>
