<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentLabelTransparency</key>
	<string>tappableAssetIndex</string>
	<key>mediaqueryWithoutFramework</key>
	<string>tableParameterIndex</string>
	<key>mobxAwayParam</key>
	<string>chartForContext</string>
	<key>routeWithoutPhase</key>
	<string>utilAndMethod</string>
</dict>
</plist>
