<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedAlphaLeft</key>
	<string>reactiveChartIndex</string>
	<key>directStatelessTail</key>
	<string>mainAssetFrequency</string>
	<key>dropdownbuttonValueAlignment</key>
	<string>asyncFlyweightTop</string>
	<key>durationShapeTheme</key>
	<string>delicateIntensityMode</string>
	<key>gemByScope</key>
	<string>sophisticatedRadiusCoord</string>
	<key>gradientAwayDecorator</key>
	<string>accordionServiceBrightness</string>
	<key>iterativeNavigationStatus</key>
	<string>sizedboxContextFeedback</string>
	<key>opaqueBuilderValidation</key>
	<string>resizableProgressbarSpacing</string>
</dict>
</plist>
