<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousScreenOrientation</key>
	<string>effectFlyweightSpeed</string>
	<key>concreteSkinRotation</key>
	<string>futureBridgeKind</string>
	<key>multiplicationMementoBorder</key>
	<string>bufferStageMode</string>
	<key>particleIncludeFunction</key>
	<string>mediumSpecifierContrast</string>
	<key>reductionPatternContrast</key>
	<string>mainSubscriptionPosition</string>
	<key>specifyInteractorAlignment</key>
	<string>singletonParamTransparency</string>
	<key>streamWithTier</key>
	<string>managerAndMode</string>
</dict>
</plist>
