<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentJobOrientation</key>
	<string>dynamicRouteMode</string>
	<key>baselineAgainstProcess</key>
	<string>unactivatedNavigatorAlignment</string>
	<key>mobileNumberDepth</key>
	<string>relationalRepositoryBorder</string>
	<key>reducerWithoutEnvironment</key>
	<string>specifySceneHead</string>
	<key>richtextByProxy</key>
	<string>cellWithValue</string>
	<key>signThanMediator</key>
	<string>layoutPerType</string>
	<key>storageLikeStage</key>
	<string>containerByVisitor</string>
</dict>
</plist>
