<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineCommandOrigin</key>
	<string>desktopTextTint</string>
	<key>draggableHandlerCount</key>
	<string>inheritedInstructionState</string>
	<key>exceptionNearTemple</key>
	<string>bufferOrCommand</string>
	<key>featureMethodState</key>
	<string>vectorSingletonFrequency</string>
	<key>fusedResultHue</key>
	<string>bufferAroundComposite</string>
	<key>gramFromAdapter</key>
	<string>declarativeGroupInterval</string>
	<key>labelNumberSpeed</key>
	<string>previewAtMode</string>
	<key>spriteTierHead</key>
	<string>effectInterpreterBehavior</string>
	<key>statefulStatePadding</key>
	<string>alignmentForContext</string>
	<key>transitionCycleSkewx</key>
	<string>allocatorWithAdapter</string>
</dict>
</plist>
