<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedStateAcceleration</key>
	<string>logarithmBridgeTransparency</string>
	<key>singletonAtBuffer</key>
	<string>elasticProviderTag</string>
</dict>
</plist>
