<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentFlyweightCount</key>
	<string>smartGrainContrast</string>
	<key>alignmentOfVar</key>
	<string>nodeStyleContrast</string>
	<key>alphaVersusLayer</key>
	<string>previewScopeIndex</string>
	<key>backwardDependencyVelocity</key>
	<string>movementStrategyCount</string>
	<key>entityOfPhase</key>
	<string>aspectratioInsideState</string>
	<key>gridThanNumber</key>
	<string>popupAlongVisitor</string>
	<key>inactiveAwaitInterval</key>
	<string>asyncFlyweightLocation</string>
	<key>sizedboxAboutCycle</key>
	<string>scaffoldBeyondContext</string>
	<key>standaloneSemanticsInteraction</key>
	<string>injectionActivityType</string>
	<key>unsortedSineShade</key>
	<string>permanentResponsePressure</string>
</dict>
</plist>
