<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoStampVelocity</key>
	<string>autoTextInterval</string>
	<key>baselineObserverSkewy</key>
	<string>crucialDimensionBehavior</string>
	<key>hyperbolicScalePressure</key>
	<string>animatedcontainerAsLevel</string>
	<key>pointMethodInterval</key>
	<string>matrixObserverShape</string>
	<key>richtextInAdapter</key>
	<string>giftDuringBuffer</string>
	<key>subsequentHistogramValidation</key>
	<string>columnEnvironmentOrientation</string>
</dict>
</plist>
