<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerCurveBehavior</key>
	<string>basicGesturedetectorDelay</string>
	<key>blocSinceAction</key>
	<string>handlerStructureIndex</string>
	<key>cupertinoThroughFacade</key>
	<string>utilParameterVisibility</string>
	<key>currentBoxShade</key>
	<string>vectorOutsideMethod</string>
	<key>difficultTextSkewx</key>
	<string>disparateGridLeft</string>
	<key>disabledTaskHue</key>
	<string>subtleTextureBound</string>
	<key>explicitChapterOrigin</key>
	<string>imperativeBuilderIndex</string>
	<key>sharedCompleterFeedback</key>
	<string>themeTempleForce</string>
</dict>
</plist>
