<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferUntilMemento</key>
	<string>radioMethodType</string>
	<key>containerEnvironmentDepth</key>
	<string>sophisticatedInjectionOrigin</string>
	<key>fusedMediaqueryVisible</key>
	<string>asyncTierOrigin</string>
	<key>localizationPrototypeSkewy</key>
	<string>bufferActivityVisibility</string>
</dict>
</plist>
