<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorByComposite</key>
	<string>routerViaShape</string>
	<key>positionCompositeCenter</key>
	<string>richtextProxyState</string>
	<key>smallChannelAcceleration</key>
	<string>usageInStyle</string>
	<key>sophisticatedPetSaturation</key>
	<string>iconThroughKind</string>
	<key>vectorOfProxy</key>
	<string>reactivePaddingFlags</string>
</dict>
</plist>
