<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonParameterEdge</key>
	<string>difficultCurveOpacity</string>
	<key>concurrentShaderTension</key>
	<string>navigatorStateRight</string>
	<key>effectAwayChain</key>
	<string>webScaffoldPadding</string>
	<key>mutableUsecaseVelocity</key>
	<string>mutableStorageRight</string>
	<key>retainedSpriteDensity</key>
	<string>modalBesideFramework</string>
	<key>subscriptionOutsideForm</key>
	<string>ternarySinceParameter</string>
	<key>topicDespiteTier</key>
	<string>singleTransformerFrequency</string>
	<key>viewSinceTier</key>
	<string>eventUntilSingleton</string>
</dict>
</plist>
