<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hashVersusSystem</key>
	<string>stateAboutVar</string>
	<key>hierarchicalRouteInteraction</key>
	<string>custompaintFlyweightFeedback</string>
	<key>seamlessProviderCenter</key>
	<string>actionUntilParam</string>
	<key>swiftStructureDepth</key>
	<string>layerOutsideVar</string>
	<key>textureFromLevel</key>
	<string>compositionProxyTransparency</string>
	<key>toolModeAppearance</key>
	<string>constraintLevelOpacity</string>
</dict>
</plist>
