<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constRemainderOrigin</key>
	<string>newestActionStyle</string>
	<key>listviewModeInterval</key>
	<string>effectTaskStatus</string>
	<key>semanticsPrototypeBound</key>
	<string>sliderWithoutMemento</string>
	<key>sizedboxAmongLayer</key>
	<string>sharedBufferMomentum</string>
	<key>specifyAppbarName</key>
	<string>baselineEnvironmentTint</string>
	<key>timerLikeParam</key>
	<string>intermediateManagerBottom</string>
</dict>
</plist>
