<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellDuringVisitor</key>
	<string>utilIncludeEnvironment</string>
	<key>controllerAwayScope</key>
	<string>discardedTextDensity</string>
	<key>euclideanCustompaintPressure</key>
	<string>blocParamShade</string>
	<key>gemBeyondMediator</key>
	<string>sizeFacadePressure</string>
	<key>opaqueBinaryOffset</key>
	<string>dropdownbuttonFrameworkBottom</string>
	<key>queryBeyondEnvironment</key>
	<string>viewMediatorHead</string>
	<key>touchTaskOrigin</key>
	<string>providerIncludeMemento</string>
</dict>
</plist>
