<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxFlyweightShape</key>
	<string>sharedCursorMode</string>
	<key>histogramValueTransparency</key>
	<string>precisionAmongPattern</string>
	<key>logStageTop</key>
	<string>intuitiveEventForce</string>
	<key>oldRouteOrientation</key>
	<string>offsetThroughVariable</string>
	<key>prevStepForce</key>
	<string>offsetScopeTail</string>
</dict>
</plist>
