<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionVariableContrast</key>
	<string>symbolPlatformKind</string>
	<key>cartesianIsolateDirection</key>
	<string>discardedMusicBehavior</string>
	<key>configurationContainPrototype</key>
	<string>navigationVariableState</string>
	<key>difficultTransformerResponse</key>
	<string>diffableUsecaseValidation</string>
	<key>gemNumberTail</key>
	<string>projectPhaseScale</string>
	<key>hardLogTension</key>
	<string>extensionInType</string>
	<key>labelViaWork</key>
	<string>aspectratioParameterTail</string>
	<key>lastButtonOpacity</key>
	<string>workflowObserverHue</string>
	<key>secondSampleDelay</key>
	<string>reductionAmongTask</string>
	<key>sophisticatedExceptionSpeed</key>
	<string>positionStateTheme</string>
</dict>
</plist>
