<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedPopupAppearance</key>
	<string>consultativeCustompaintFormat</string>
	<key>catalystProcessTop</key>
	<string>activeProfileFormat</string>
	<key>completerCommandRight</key>
	<string>graphAmongVar</string>
	<key>factoryWithoutStructure</key>
	<string>singletonVersusEnvironment</string>
	<key>isolateOutsideType</key>
	<string>radiusIncludeMode</string>
	<key>logPhaseOrigin</key>
	<string>memberExceptPhase</string>
	<key>sinkProcessSpacing</key>
	<string>awaitCommandType</string>
	<key>themeNearAdapter</key>
	<string>queueBeyondFunction</string>
	<key>unaryOrChain</key>
	<string>inactiveTangentBorder</string>
	<key>webViewCount</key>
	<string>groupValueVisibility</string>
</dict>
</plist>
