<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentLikeVar</key>
	<string>semanticNodeLocation</string>
	<key>completerFunctionRotation</key>
	<string>nodeAndSystem</string>
	<key>featureByObserver</key>
	<string>nextLayoutStyle</string>
	<key>notifierWithScope</key>
	<string>actionTempleDensity</string>
	<key>rectContextPadding</key>
	<string>anchorFrameworkDepth</string>
	<key>semanticRouterBound</key>
	<string>rapidExpandedPadding</string>
	<key>singletonEnvironmentOrigin</key>
	<string>logFormRate</string>
	<key>spriteExceptNumber</key>
	<string>resilientChartResponse</string>
	<key>subsequentMatrixTension</key>
	<string>hyperbolicRowStatus</string>
	<key>zoneFrameworkVisible</key>
	<string>robustPreviewOrientation</string>
</dict>
</plist>
