<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncContainValue</key>
	<string>pinchableMediaTag</string>
	<key>customIntensitySkewx</key>
	<string>containerStructureMomentum</string>
	<key>specifierWithoutMemento</key>
	<string>elasticTabbarRotation</string>
	<key>statelessSinceFramework</key>
	<string>interactiveChannelResponse</string>
	<key>webGetxOrientation</key>
	<string>interactorCompositeFlags</string>
</dict>
</plist>
