<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAtShape</key>
	<string>listviewFormHue</string>
	<key>interfaceKindSize</key>
	<string>sequentialMemberBound</string>
	<key>responseAlongShape</key>
	<string>synchronousCustompaintTag</string>
	<key>sineByInterpreter</key>
	<string>providerKindPadding</string>
	<key>symbolInsideProcess</key>
	<string>histogramStateSaturation</string>
	<key>threadNearFunction</key>
	<string>layoutWithTemple</string>
</dict>
</plist>
