<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAndComposite</key>
	<string>zoneCommandInset</string>
	<key>chartOfEnvironment</key>
	<string>modelNumberCount</string>
	<key>curveSingletonAlignment</key>
	<string>spriteJobSaturation</string>
	<key>draggableTextfieldBehavior</key>
	<string>streamDespiteActivity</string>
	<key>functionalObserverPressure</key>
	<string>injectionActivitySpacing</string>
	<key>multiplicationNearFunction</key>
	<string>prevReferenceHue</string>
	<key>parallelInjectionFeedback</key>
	<string>switchInsideMode</string>
	<key>singleCurveBound</key>
	<string>progressbarScopeSize</string>
	<key>singleIconTag</key>
	<string>groupStrategyDensity</string>
	<key>storageStructureForce</key>
	<string>slashFacadeTail</string>
</dict>
</plist>
