<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateWithComposite</key>
	<string>relationalCurveShade</string>
	<key>explicitRowSkewx</key>
	<string>dependencyShapeFlags</string>
	<key>retainedIsolateBottom</key>
	<string>usageCompositeCount</string>
	<key>semanticGemPadding</key>
	<string>captionKindScale</string>
</dict>
</plist>
