<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterFunctionCount</key>
	<string>progressbarFromParameter</string>
	<key>cycleFacadePressure</key>
	<string>tweenFrameworkAlignment</string>
	<key>movementCompositeType</key>
	<string>smartAnimationSaturation</string>
	<key>nativeAnimatedcontainerName</key>
	<string>lazyFrameKind</string>
	<key>oldMenuMomentum</key>
	<string>inactiveUnarySpacing</string>
	<key>overlayAwayTemple</key>
	<string>activitySystemTint</string>
	<key>pageviewSingletonSkewy</key>
	<string>temporarySegmentPressure</string>
	<key>secondMethodFrequency</key>
	<string>adaptivePopupFrequency</string>
	<key>subsequentBlocResponse</key>
	<string>tappableTopicTransparency</string>
</dict>
</plist>
