<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureSystemSpacing</key>
	<string>subsequentInteractorShade</string>
	<key>parallelToolMode</key>
	<string>riverpodBufferDelay</string>
	<key>viewDuringValue</key>
	<string>globalUnaryLeft</string>
</dict>
</plist>
