<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerNumberHue</key>
	<string>referenceTierDelay</string>
	<key>coordinatorVariableForce</key>
	<string>menuContainPattern</string>
	<key>mobileInterfaceTheme</key>
	<string>dialogsTempleHue</string>
</dict>
</plist>
