<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectAroundScope</key>
	<string>interfaceInterpreterOrigin</string>
	<key>effectTypeTransparency</key>
	<string>spriteVersusPattern</string>
	<key>instructionNumberFrequency</key>
	<string>topicKindMargin</string>
	<key>isolateStateCenter</key>
	<string>eagerTransitionTheme</string>
	<key>nextMethodStatus</key>
	<string>batchJobRotation</string>
	<key>semanticShaderStyle</key>
	<string>standaloneLocalizationContrast</string>
	<key>zoneSystemSize</key>
	<string>callbackActionCount</string>
</dict>
</plist>
