<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandPhaseDelay</key>
	<string>independentTransitionVelocity</string>
	<key>explicitMemberAcceleration</key>
	<string>smartProviderDensity</string>
	<key>memberFromEnvironment</key>
	<string>factoryInsideBuffer</string>
</dict>
</plist>
