<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveResponseRotation</key>
	<string>symbolVariableTension</string>
	<key>animationBufferFrequency</key>
	<string>textFormContrast</string>
	<key>consultativeMatrixResponse</key>
	<string>numericalActivitySize</string>
	<key>intensityBufferBottom</key>
	<string>storageSingletonStatus</string>
</dict>
</plist>
