<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityUntilFlyweight</key>
	<string>activityViaLayer</string>
	<key>disabledUtilHead</key>
	<string>bufferSinceInterpreter</string>
	<key>featureMediatorTension</key>
	<string>themeAwayFlyweight</string>
	<key>keyParticleVelocity</key>
	<string>dependencyAgainstProcess</string>
	<key>managerWithoutJob</key>
	<string>descriptionViaLevel</string>
	<key>navigatorLikeObserver</key>
	<string>inactiveModulusDensity</string>
	<key>normByVar</key>
	<string>delegateTypeAcceleration</string>
	<key>scaleWithVisitor</key>
	<string>stackVarOffset</string>
	<key>textStructurePressure</key>
	<string>storyboardModeStyle</string>
</dict>
</plist>
