<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianCapsuleFeedback</key>
	<string>observerWithActivity</string>
	<key>gestureAroundTier</key>
	<string>smartButtonShade</string>
	<key>modelForMethod</key>
	<string>statefulOutsideBridge</string>
	<key>plateNearLayer</key>
	<string>declarativePetBottom</string>
	<key>transformerBridgeLocation</key>
	<string>gridAndPlatform</string>
</dict>
</plist>
