<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationDuringDecorator</key>
	<string>memberProcessSpacing</string>
	<key>animationOrPhase</key>
	<string>layoutFrameworkBrightness</string>
	<key>notifierCycleLocation</key>
	<string>grainKindKind</string>
	<key>positionAboutProcess</key>
	<string>sinkShapeBottom</string>
</dict>
</plist>
