<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarChainTop</key>
	<string>chapterPerSingleton</string>
	<key>arithmeticBesideFunction</key>
	<string>pivotalResourceOffset</string>
	<key>delegateFrameworkAppearance</key>
	<string>eagerBuilderSpacing</string>
	<key>disparateSpecifierTail</key>
	<string>alertThroughState</string>
	<key>displayableNavigationFormat</key>
	<string>transformerValueShade</string>
	<key>hierarchicalScrollSize</key>
	<string>autoLayerCoord</string>
	<key>indicatorAlongVar</key>
	<string>giftOfOperation</string>
	<key>interpolationFlyweightEdge</key>
	<string>serviceScopeVisibility</string>
</dict>
</plist>
