<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationValueBehavior</key>
	<string>standalonePositionMomentum</string>
	<key>consumerActivityShape</key>
	<string>boxTempleDelay</string>
	<key>gridOrObserver</key>
	<string>graphIncludeMediator</string>
	<key>handlerExceptObserver</key>
	<string>futureEnvironmentHead</string>
	<key>marginAwayLevel</key>
	<string>reducerPlatformShape</string>
	<key>singleBlocAcceleration</key>
	<string>mobileLayerTension</string>
	<key>variantAlongAction</key>
	<string>skinSystemTint</string>
</dict>
</plist>
