<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncExceptEnvironment</key>
	<string>gramExceptTemple</string>
	<key>cupertinoSinceParameter</key>
	<string>riverpodVarBehavior</string>
	<key>presenterMementoLeft</key>
	<string>utilStrategyDirection</string>
	<key>responseModeFeedback</key>
	<string>spineNearFunction</string>
	<key>statelessStoragePadding</key>
	<string>futureSinceShape</string>
</dict>
</plist>
