<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionProxyScale</key>
	<string>featureCycleKind</string>
	<key>delicateDelegateStatus</key>
	<string>spineAndVariable</string>
	<key>documentObserverVelocity</key>
	<string>oldExtensionPressure</string>
	<key>easyBaseFormat</key>
	<string>tickerBeyondOperation</string>
	<key>immediateLabelHead</key>
	<string>painterVisitorSpacing</string>
	<key>iterativeBaseName</key>
	<string>prevMissionCount</string>
	<key>masterOfDecorator</key>
	<string>backwardSpotVisible</string>
	<key>sessionProxyRight</key>
	<string>customizedCubitRight</string>
	<key>sizeThanLayer</key>
	<string>effectParameterContrast</string>
</dict>
</plist>
