<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finalTaskTail</key>
	<string>mobxValueInset</string>
	<key>inheritedModelSaturation</key>
	<string>optimizerInCommand</string>
	<key>optimizerOrOperation</key>
	<string>tangentIncludeStage</string>
	<key>pivotalFrameHead</key>
	<string>topicChainTheme</string>
	<key>reusableSizeDensity</key>
	<string>stateMediatorValidation</string>
	<key>sizedboxFrameworkForce</key>
	<string>containerAtAdapter</string>
	<key>standaloneTabviewVisibility</key>
	<string>agileTweenTop</string>
	<key>themeSystemTail</key>
	<string>custompaintContainKind</string>
</dict>
</plist>
