<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnAndLevel</key>
	<string>dedicatedVariantInteraction</string>
	<key>disabledResultName</key>
	<string>crudeHistogramTension</string>
	<key>effectAtProxy</key>
	<string>rapidDecorationCount</string>
	<key>eventWorkTension</key>
	<string>configurationAgainstTemple</string>
	<key>exceptionAndSingleton</key>
	<string>typicalLayoutOrigin</string>
	<key>heapAgainstPlatform</key>
	<string>boxshadowByTemple</string>
	<key>requestDuringType</key>
	<string>decorationDuringType</string>
	<key>tickerCommandSpacing</key>
	<string>blocAgainstTier</string>
</dict>
</plist>
