<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAsPhase</key>
	<string>spriteVarCenter</string>
	<key>containerSinceVisitor</key>
	<string>groupWithCycle</string>
	<key>displayableSwiftCoord</key>
	<string>groupAmongScope</string>
	<key>layerLayerVisible</key>
	<string>uniformDescriptionCenter</string>
	<key>permanentScenePressure</key>
	<string>streamFrameworkSpacing</string>
	<key>resilientSinkColor</key>
	<string>progressbarAmongNumber</string>
	<key>sharedCallbackMode</key>
	<string>fixedManagerSpeed</string>
	<key>taskOrActivity</key>
	<string>singletonFormHue</string>
	<key>tweenValueBrightness</key>
	<string>tensorLabelMargin</string>
</dict>
</plist>
