<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleCubitIndex</key>
	<string>captionVarColor</string>
	<key>binarySinceVariable</key>
	<string>drawerUntilVisitor</string>
	<key>cycleMediatorVelocity</key>
	<string>immediateStoreBorder</string>
	<key>positionContainType</key>
	<string>allocatorFrameworkFormat</string>
	<key>rowBridgeDepth</key>
	<string>drawerVersusEnvironment</string>
	<key>scaffoldAboutMethod</key>
	<string>navigatorSystemShape</string>
	<key>toolStyleDuration</key>
	<string>themeAsVar</string>
</dict>
</plist>
