<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>primaryAnchorDensity</key>
	<string>getxNearStyle</string>
	<key>sortedActivityBehavior</key>
	<string>usecasePhasePadding</string>
	<key>symbolIncludeType</key>
	<string>baseProcessAppearance</string>
</dict>
</plist>
