<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedMusicCoord</key>
	<string>delegateContextAlignment</string>
	<key>easyAnimatedcontainerHead</key>
	<string>nextPresenterSaturation</string>
	<key>graphKindMargin</key>
	<string>keySubscriptionPosition</string>
	<key>lastBaseMomentum</key>
	<string>globalDocumentSkewy</string>
	<key>positionedVisitorCount</key>
	<string>cosineAwayAdapter</string>
	<key>requestBesideTemple</key>
	<string>kernelCommandMomentum</string>
	<key>sceneStructureBorder</key>
	<string>flexibleTextureAcceleration</string>
	<key>similarIndicatorOrientation</key>
	<string>dependencyByVariable</string>
	<key>utilMethodPressure</key>
	<string>progressbarParamPressure</string>
</dict>
</plist>
