<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileLabelOrigin</key>
	<string>denseServiceCoord</string>
	<key>groupCompositeIndex</key>
	<string>spriteOfInterpreter</string>
	<key>semanticHashScale</key>
	<string>gesturedetectorOperationShape</string>
	<key>spineInEnvironment</key>
	<string>cellLikeCommand</string>
	<key>subscriptionAroundProxy</key>
	<string>sortedLayoutHue</string>
	<key>uniformInteractorInteraction</key>
	<string>usecaseMethodState</string>
</dict>
</plist>
