<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorTierInterval</key>
	<string>sharedDropdownbuttonType</string>
	<key>cartesianCurveInset</key>
	<string>curveThanAction</string>
	<key>coordinatorAlongParameter</key>
	<string>exceptionNearStructure</string>
	<key>errorSingletonMargin</key>
	<string>expandedSingletonStatus</string>
	<key>mainErrorBottom</key>
	<string>sequentialControllerSkewy</string>
	<key>mutableMaterialBehavior</key>
	<string>contractionDespiteBridge</string>
	<key>slashAdapterHead</key>
	<string>draggableChartVelocity</string>
	<key>timerTempleInteraction</key>
	<string>scrollOperationScale</string>
	<key>unsortedSceneDuration</key>
	<string>axisAsTier</string>
</dict>
</plist>
