<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertAsVisitor</key>
	<string>missionFormVelocity</string>
	<key>aspectDespiteKind</key>
	<string>difficultOptionPadding</string>
	<key>desktopTitleType</key>
	<string>interfaceEnvironmentFlags</string>
	<key>diffableTernaryBorder</key>
	<string>enabledCapacitiesAppearance</string>
	<key>heroOutsideVisitor</key>
	<string>rowThroughAdapter</string>
	<key>positionStrategyContrast</key>
	<string>interfaceObserverDuration</string>
	<key>respectiveSlashKind</key>
	<string>durationBridgePosition</string>
	<key>resultUntilWork</key>
	<string>immutableIntensityTheme</string>
	<key>segueDecoratorOrigin</key>
	<string>asynchronousActionOffset</string>
	<key>sinkIncludeJob</key>
	<string>iconThanState</string>
</dict>
</plist>
