<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationActivityShape</key>
	<string>pageviewFlyweightSkewy</string>
	<key>largeNotifierFlags</key>
	<string>switchActionMomentum</string>
	<key>managerAboutPhase</key>
	<string>resilientEventBrightness</string>
	<key>mobileInstructionTail</key>
	<string>viewWithForm</string>
	<key>multiplicationChainColor</key>
	<string>clipperSinceLevel</string>
	<key>overlayNumberDensity</key>
	<string>interfaceThroughSingleton</string>
	<key>prevEntropyStyle</key>
	<string>popupAmongAdapter</string>
	<key>sequentialTextColor</key>
	<string>flexShapeVisibility</string>
</dict>
</plist>
