<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandAwayValue</key>
	<string>dependencyPerStrategy</string>
	<key>dedicatedExpandedDensity</key>
	<string>interactorVarSpacing</string>
	<key>durationThanProxy</key>
	<string>clipperOperationCount</string>
	<key>heroIncludeStructure</key>
	<string>queuePhaseMomentum</string>
	<key>lastSubscriptionBorder</key>
	<string>priorityIncludeStyle</string>
	<key>missedPrecisionBehavior</key>
	<string>textureProcessShape</string>
	<key>resourceContainTemple</key>
	<string>respectiveBaselineStyle</string>
	<key>serviceKindInset</key>
	<string>associatedObserverRight</string>
</dict>
</plist>
