<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystShapeCenter</key>
	<string>durationIncludeChain</string>
	<key>dimensionFlyweightVelocity</key>
	<string>topicSinceMode</string>
	<key>explicitLogarithmDepth</key>
	<string>listviewStageTail</string>
	<key>swiftAroundCommand</key>
	<string>exceptionContextOrientation</string>
	<key>topicPlatformLocation</key>
	<string>entityStateMargin</string>
</dict>
</plist>
