<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderCompositeDuration</key>
	<string>buttonMediatorEdge</string>
	<key>completerJobResponse</key>
	<string>dynamicResourceShade</string>
	<key>custompaintObserverTail</key>
	<string>rolePhaseDuration</string>
	<key>lastTexturePressure</key>
	<string>declarativeListenerAcceleration</string>
	<key>navigatorStrategyDistance</key>
	<string>autoBehaviorCenter</string>
	<key>reactiveGraphTint</key>
	<string>blocMediatorValidation</string>
	<key>remainderOutsideFramework</key>
	<string>resultAboutChain</string>
	<key>switchPrototypeOpacity</key>
	<string>statefulZoneLeft</string>
</dict>
</plist>
