<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioCommandSpacing</key>
	<string>interactorTypeEdge</string>
	<key>bitrateExceptContext</key>
	<string>nodeEnvironmentBrightness</string>
	<key>directlyPetContrast</key>
	<string>prismaticCapacitiesState</string>
	<key>numericalOverlayContrast</key>
	<string>histogramSystemDepth</string>
	<key>popupTempleFlags</key>
	<string>subtleSkirtTransparency</string>
	<key>secondResponseOpacity</key>
	<string>ignoredRepositoryAlignment</string>
	<key>secondTweenStyle</key>
	<string>overlayStrategyBehavior</string>
	<key>timerScopeStatus</key>
	<string>globalDecorationContrast</string>
</dict>
</plist>
