<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorExceptLayer</key>
	<string>animationPerLevel</string>
	<key>difficultZoneTension</key>
	<string>assetTierAppearance</string>
	<key>effectProxyValidation</key>
	<string>subpixelPrototypeMomentum</string>
	<key>kernelStageCoord</key>
	<string>functionalIsolateDelay</string>
	<key>logFacadeContrast</key>
	<string>factoryCycleBorder</string>
	<key>significantLayerCenter</key>
	<string>sequentialCursorDuration</string>
	<key>storageMementoAcceleration</key>
	<string>storageNearNumber</string>
	<key>substantialCurveType</key>
	<string>operationNearLayer</string>
	<key>symmetricPlaybackRotation</key>
	<string>isolateThroughMethod</string>
	<key>usecaseParamSaturation</key>
	<string>usecaseScopeTag</string>
</dict>
</plist>
