<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticModeBrightness</key>
	<string>projectionStateKind</string>
	<key>expandedObserverStyle</key>
	<string>tweenStateStatus</string>
	<key>listenerShapeFormat</key>
	<string>originalEffectDelay</string>
	<key>multiplicationContainValue</key>
	<string>gesturedetectorChainRate</string>
	<key>positionTierMode</key>
	<string>injectionPerFramework</string>
	<key>reducerWithValue</key>
	<string>sinkDuringScope</string>
	<key>streamSingletonDelay</key>
	<string>segmentActivityTint</string>
	<key>subsequentScaleTransparency</key>
	<string>builderThanVisitor</string>
	<key>taskBridgeSkewy</key>
	<string>adaptiveCompleterSize</string>
</dict>
</plist>
