<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncGraphicShade</key>
	<string>directInkwellAlignment</string>
	<key>errorBridgeContrast</key>
	<string>movementTypeFrequency</string>
	<key>sustainableDescriptionSpeed</key>
	<string>boxshadowOrMemento</string>
</dict>
</plist>
