<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveDescriptionMode</key>
	<string>lazyRiverpodFlags</string>
	<key>containerFromKind</key>
	<string>materialConvolutionSaturation</string>
	<key>expandedMethodVisible</key>
	<string>usecaseStrategyEdge</string>
	<key>largePositionScale</key>
	<string>composableFragmentBorder</string>
	<key>newestAnimatedcontainerPosition</key>
	<string>unarySinceBridge</string>
	<key>statefulEffectSkewy</key>
	<string>segmentViaParam</string>
	<key>tickerInterpreterPressure</key>
	<string>gramLikeAdapter</string>
	<key>viewSincePlatform</key>
	<string>newestQueueMode</string>
</dict>
</plist>
