<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystVersusFacade</key>
	<string>interfaceAndActivity</string>
	<key>fixedGrainRate</key>
	<string>intermediateMethodBrightness</string>
	<key>isolateBufferContrast</key>
	<string>widgetDuringStructure</string>
	<key>positionFrameworkState</key>
	<string>blocAwayObserver</string>
	<key>semanticsCommandType</key>
	<string>criticalObserverCount</string>
</dict>
</plist>
