<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTaskMode</key>
	<string>groupBridgeIndex</string>
	<key>commonMethodOrientation</key>
	<string>utilWithoutOperation</string>
	<key>expandedViaStrategy</key>
	<string>resourceMediatorSkewx</string>
	<key>futureAroundParameter</key>
	<string>missionForShape</string>
	<key>rectParameterCount</key>
	<string>normalCacheAppearance</string>
	<key>sizedboxCommandVelocity</key>
	<string>dimensionIncludeContext</string>
	<key>streamSingletonDuration</key>
	<string>assetAsType</string>
	<key>timerAlongPrototype</key>
	<string>awaitOrNumber</string>
</dict>
</plist>
