<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileObserverIndex</key>
	<string>delicateLayoutCoord</string>
	<key>eventFunctionAcceleration</key>
	<string>managerSinceProcess</string>
	<key>expandedStateScale</key>
	<string>protocolFlyweightFrequency</string>
	<key>keyChannelsTop</key>
	<string>heapOrAdapter</string>
	<key>specifyTouchInset</key>
	<string>materialLabelDirection</string>
</dict>
</plist>
