<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableCallbackDuration</key>
	<string>taskInterpreterTail</string>
	<key>imperativeTransformerSkewy</key>
	<string>pivotalEqualizationSaturation</string>
	<key>notificationWithoutPlatform</key>
	<string>optionActivityBorder</string>
	<key>priorityInterpreterSpeed</key>
	<string>lazyDelegateHead</string>
	<key>protectedStampInset</key>
	<string>builderDecoratorDuration</string>
</dict>
</plist>
