<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionZoneEdge</key>
	<string>secondStorageColor</string>
	<key>completerNumberVisible</key>
	<string>observerDuringState</string>
	<key>explicitMusicTint</key>
	<string>subtleSegueSkewx</string>
	<key>globalOptionDelay</key>
	<string>challengeStyleScale</string>
	<key>groupFunctionSkewy</key>
	<string>queueUntilSystem</string>
	<key>managerIncludeVisitor</key>
	<string>liteControllerAlignment</string>
	<key>masterContainNumber</key>
	<string>playbackSystemRotation</string>
	<key>pageviewWithoutMode</key>
	<string>coordinatorInAction</string>
	<key>rectAsJob</key>
	<string>permanentTickerBound</string>
</dict>
</plist>
