<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorInComposite</key>
	<string>greatHandlerTension</string>
	<key>builderBesideStrategy</key>
	<string>builderPhaseType</string>
	<key>dropdownbuttonFromContext</key>
	<string>aspectForActivity</string>
	<key>navigationBeyondSystem</key>
	<string>texturePrototypeRotation</string>
	<key>profileCycleInset</key>
	<string>constGridviewAcceleration</string>
</dict>
</plist>
