<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineNearEnvironment</key>
	<string>subsequentWidgetMode</string>
	<key>commandByVar</key>
	<string>firstResultDensity</string>
	<key>criticalFactoryRate</key>
	<string>ephemeralInterfaceFlags</string>
	<key>modalAwayVisitor</key>
	<string>vectorJobResponse</string>
	<key>profileCompositeLocation</key>
	<string>storeMediatorType</string>
	<key>visibleCupertinoSkewx</key>
	<string>contractionPhaseScale</string>
</dict>
</plist>
