<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorParamInteraction</key>
	<string>mobileViaShape</string>
	<key>delicateBoxshadowTint</key>
	<string>originalRouterBottom</string>
	<key>originalEntityCount</key>
	<string>statefulWidgetFormat</string>
	<key>particleOfMode</key>
	<string>offsetBridgeState</string>
	<key>queueDespiteLevel</key>
	<string>channelAlongChain</string>
	<key>respectiveButtonTag</key>
	<string>commandPatternStatus</string>
	<key>similarIconTail</key>
	<string>functionalMediaqueryColor</string>
	<key>stackCompositeSkewx</key>
	<string>heroShapeFormat</string>
	<key>typicalDecorationEdge</key>
	<string>transitionAsNumber</string>
</dict>
</plist>
