<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitNearLayer</key>
	<string>dependencyBridgeBehavior</string>
	<key>channelVersusDecorator</key>
	<string>configurationFunctionValidation</string>
	<key>chartInVar</key>
	<string>cacheWithEnvironment</string>
	<key>entityAgainstLevel</key>
	<string>reactiveObserverRight</string>
	<key>navigatorAboutComposite</key>
	<string>eagerListviewOrientation</string>
	<key>plateAsProxy</key>
	<string>cellOutsideTask</string>
	<key>rapidNodeTop</key>
	<string>checklistPatternSpeed</string>
	<key>screenVarRotation</key>
	<string>managerTierHead</string>
</dict>
</plist>
