<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interactorShapeTension</key>
	<string>baseCommandBehavior</string>
	<key>popupInBuffer</key>
	<string>permissiveContainerDelay</string>
</dict>
</plist>
