<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binarySingletonDirection</key>
	<string>signContainAdapter</string>
	<key>callbackAroundFunction</key>
	<string>staticIntensityDistance</string>
	<key>futureTempleSkewx</key>
	<string>completionContainStyle</string>
	<key>gateVarScale</key>
	<string>descriptorPatternRotation</string>
	<key>imperativeSignatureSkewx</key>
	<string>statefulFormShape</string>
	<key>promiseVisitorFlags</key>
	<string>metadataSinceScope</string>
	<key>skirtAdapterCenter</key>
	<string>specifyTouchContrast</string>
	<key>sliderAtObserver</key>
	<string>consultativeZoneLocation</string>
	<key>textPerEnvironment</key>
	<string>featureModeShape</string>
</dict>
</plist>
