<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopSymbolShade</key>
	<string>ignoredResultKind</string>
	<key>functionalStoreBrightness</key>
	<string>requestInShape</string>
	<key>operationPerFlyweight</key>
	<string>seamlessHeroTension</string>
	<key>resourceTempleDensity</key>
	<string>activityFacadeStatus</string>
	<key>singleLayoutMargin</key>
	<string>notifierVersusValue</string>
	<key>swiftStructureIndex</key>
	<string>promiseCompositeFormat</string>
	<key>usageForInterpreter</key>
	<string>navigatorStageState</string>
</dict>
</plist>
