<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticFormColor</key>
	<string>discardedViewStyle</string>
	<key>constraintAroundLevel</key>
	<string>storageOrCommand</string>
	<key>graphOperationInterval</key>
	<string>subpixelParameterDistance</string>
	<key>observerStructureCoord</key>
	<string>routeInFunction</string>
	<key>spineEnvironmentTag</key>
	<string>gestureBeyondType</string>
</dict>
</plist>
