<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnBeyondCommand</key>
	<string>stampShapeDelay</string>
	<key>geometricScrollDensity</key>
	<string>profileDespiteVisitor</string>
	<key>subsequentListenerRotation</key>
	<string>descriptionSystemPressure</string>
</dict>
</plist>
