<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedExtensionBehavior</key>
	<string>draggableFlexPressure</string>
	<key>eventWithStyle</key>
	<string>currentAsyncTint</string>
	<key>factoryTierHue</key>
	<string>builderVarFlags</string>
	<key>graphKindDepth</key>
	<string>navigatorSingletonEdge</string>
	<key>iterativeBehaviorFlags</key>
	<string>viewFunctionDuration</string>
	<key>momentumPatternEdge</key>
	<string>textureLevelAppearance</string>
	<key>navigatorSinceCycle</key>
	<string>textInsideSystem</string>
	<key>semanticStorageOffset</key>
	<string>responsiveNavigatorPressure</string>
	<key>sliderPatternBorder</key>
	<string>uniqueCaptionIndex</string>
	<key>specifierAgainstLevel</key>
	<string>gateWithoutPhase</string>
</dict>
</plist>
