<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitAboutLayer</key>
	<string>textfieldCommandAcceleration</string>
	<key>clipperStructureTint</key>
	<string>queryAroundFunction</string>
	<key>difficultTernaryState</key>
	<string>inactiveGraphicColor</string>
	<key>effectBesideShape</key>
	<string>segmentCompositeAppearance</string>
	<key>elasticChannelContrast</key>
	<string>oldBulletVisible</string>
	<key>injectionAroundSingleton</key>
	<string>sceneUntilProcess</string>
	<key>otherPaddingSkewx</key>
	<string>collectionMethodSkewx</string>
	<key>painterThroughPlatform</key>
	<string>crudeResolverValidation</string>
	<key>responseByVariable</key>
	<string>momentumStyleMode</string>
	<key>taskBesideSystem</key>
	<string>utilNearFlyweight</string>
</dict>
</plist>
