<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonNearParam</key>
	<string>methodAwayMemento</string>
	<key>collectionIncludeFlyweight</key>
	<string>roleContextPressure</string>
	<key>decorationTierSkewy</key>
	<string>batchThroughJob</string>
	<key>groupKindName</key>
	<string>characterNearDecorator</string>
	<key>responseDuringTemple</key>
	<string>progressbarKindAlignment</string>
	<key>sessionAsCycle</key>
	<string>toolLikeSingleton</string>
	<key>sizeDecoratorBound</key>
	<string>characterBridgeScale</string>
	<key>sizeStyleSize</key>
	<string>missedInjectionSpacing</string>
	<key>staticAllocatorFrequency</key>
	<string>queryPlatformResponse</string>
</dict>
</plist>
