<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoExceptEnvironment</key>
	<string>semanticTweenFeedback</string>
	<key>iconStructureFlags</key>
	<string>completionExceptTier</string>
	<key>instructionIncludeVisitor</key>
	<string>geometricColumnFormat</string>
	<key>movementPhaseBottom</key>
	<string>textureObserverTint</string>
	<key>spriteAdapterMode</key>
	<string>observerActivityVisible</string>
	<key>typicalTitleHead</key>
	<string>comprehensiveCallbackHead</string>
</dict>
</plist>
