<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleSystemDuration</key>
	<string>constraintBesideLevel</string>
	<key>explicitCapsuleLeft</key>
	<string>rectMementoFrequency</string>
	<key>liteInterfaceRate</key>
	<string>modulusActionPressure</string>
	<key>requestTaskTag</key>
	<string>configurationFrameworkEdge</string>
	<key>touchStrategyResponse</key>
	<string>dynamicSegmentOffset</string>
</dict>
</plist>
