<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncModulusOrientation</key>
	<string>skirtAdapterDelay</string>
	<key>controllerPatternDepth</key>
	<string>stackActionCenter</string>
	<key>futureOfStage</key>
	<string>loopByDecorator</string>
	<key>gestureProxyForce</key>
	<string>visibleZoneSpacing</string>
	<key>immutableCellTheme</key>
	<string>decorationVersusParam</string>
	<key>instructionBesideFlyweight</key>
	<string>queryPerPrototype</string>
	<key>modalAwayPrototype</key>
	<string>containerAroundMethod</string>
	<key>responsiveHashShape</key>
	<string>groupOutsideLevel</string>
	<key>spineExceptNumber</key>
	<string>rowVisitorHead</string>
	<key>taskExceptJob</key>
	<string>sophisticatedAsyncCount</string>
</dict>
</plist>
