<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonScaffoldHue</key>
	<string>builderLikeScope</string>
	<key>gramPrototypeForce</key>
	<string>operationForMemento</string>
	<key>smartSinkForce</key>
	<string>liteInkwellRate</string>
	<key>statefulGateContrast</key>
	<string>specifierContainWork</string>
	<key>vectorTypePosition</key>
	<string>appbarLayerHead</string>
</dict>
</plist>
