<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaTypeForce</key>
	<string>segmentBridgeFlags</string>
	<key>buttonPerContext</key>
	<string>missionInsidePlatform</string>
	<key>constContainerScale</key>
	<string>specifyPositionedDuration</string>
	<key>dedicatedSinkTint</key>
	<string>monsterForBridge</string>
	<key>nibProcessDistance</key>
	<string>pinchableColumnFeedback</string>
	<key>radioPatternTension</key>
	<string>dropdownbuttonAlongCommand</string>
	<key>stateVersusEnvironment</key>
	<string>commonOffsetOrientation</string>
	<key>subtleTangentRight</key>
	<string>toolVersusJob</string>
	<key>uniqueCollectionSkewx</key>
	<string>bufferProcessDuration</string>
</dict>
</plist>
