<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianAppbarIndex</key>
	<string>alignmentValueDirection</string>
	<key>entropyDuringSystem</key>
	<string>challengeBesideLayer</string>
	<key>greatGesturedetectorTint</key>
	<string>petInMethod</string>
	<key>webGridviewLocation</key>
	<string>decorationThanBridge</string>
</dict>
</plist>
