<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>globalProfileMomentum</key>
	<string>routeWorkTag</string>
	<key>radiusContextCoord</key>
	<string>globalButtonTheme</string>
</dict>
</plist>
