<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationSingletonKind</key>
	<string>deferredAllocatorVisibility</string>
	<key>dialogsShapeVelocity</key>
	<string>descriptionContextBottom</string>
	<key>monsterParamName</key>
	<string>interactorDuringOperation</string>
	<key>operationThanShape</key>
	<string>groupNearTier</string>
	<key>seamlessReductionDelay</key>
	<string>displayableCacheBound</string>
	<key>typicalTransitionPosition</key>
	<string>monsterIncludePrototype</string>
	<key>zoneWithState</key>
	<string>storeOfValue</string>
</dict>
</plist>
