<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderOfMethod</key>
	<string>dependencyActivityOffset</string>
	<key>curveSystemPressure</key>
	<string>functionalResolverDepth</string>
	<key>futureMementoScale</key>
	<string>accessoryExceptTier</string>
	<key>progressbarIncludePlatform</key>
	<string>exceptionParamName</string>
	<key>requestInStructure</key>
	<string>entityFromValue</string>
	<key>sizedboxLevelMomentum</key>
	<string>specifyMusicSaturation</string>
</dict>
</plist>
