<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionFutureResponse</key>
	<string>reusableProviderFrequency</string>
	<key>certificateNearMediator</key>
	<string>referenceThanTier</string>
	<key>characterJobInset</key>
	<string>challengeVersusPlatform</string>
	<key>collectionAlongPrototype</key>
	<string>priorityJobPadding</string>
	<key>equalizationTierTension</key>
	<string>easyLossValidation</string>
	<key>grainStrategyDirection</key>
	<string>finalApertureTag</string>
	<key>injectionCompositeFrequency</key>
	<string>kernelBesideBuffer</string>
	<key>navigatorDuringOperation</key>
	<string>viewWorkDelay</string>
</dict>
</plist>
