<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitAlongBuffer</key>
	<string>drawerValueVelocity</string>
	<key>exponentBridgeAppearance</key>
	<string>dynamicKernelForce</string>
	<key>multiAspectratioDirection</key>
	<string>queueWithNumber</string>
	<key>rectAwayComposite</key>
	<string>primaryProgressbarMargin</string>
	<key>serviceThanSingleton</key>
	<string>nextBoxshadowStyle</string>
</dict>
</plist>
