<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateExceptChain</key>
	<string>sizedboxKindSpeed</string>
	<key>desktopScreenKind</key>
	<string>popupAroundOperation</string>
	<key>intermediateListenerDelay</key>
	<string>interfaceAndMethod</string>
	<key>pivotalListenerSkewx</key>
	<string>hyperbolicOverlayFeedback</string>
	<key>serviceJobType</key>
	<string>cosineStrategyCoord</string>
	<key>subtleIntensityShape</key>
	<string>slashAgainstProcess</string>
</dict>
</plist>
