<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderDuringTier</key>
	<string>constraintParamHead</string>
	<key>declarativeProviderSkewy</key>
	<string>storyboardLikeKind</string>
	<key>grainPlatformDepth</key>
	<string>normTempleSkewx</string>
	<key>providerPlatformForce</key>
	<string>threadVersusStructure</string>
	<key>semanticMediaContrast</key>
	<string>resolverAtCommand</string>
	<key>symbolByType</key>
	<string>touchForObserver</string>
	<key>taskOutsideFlyweight</key>
	<string>streamChainOrientation</string>
</dict>
</plist>
