<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorContextFeedback</key>
	<string>aspectratioInsideProxy</string>
	<key>chapterAmongTier</key>
	<string>enabledReductionSkewy</string>
	<key>materialSubscriptionTint</key>
	<string>blocActivitySaturation</string>
	<key>otherBehaviorSpeed</key>
	<string>spineBufferCenter</string>
	<key>reducerAwayContext</key>
	<string>unactivatedFutureSpeed</string>
	<key>sizeNearJob</key>
	<string>buttonContainCommand</string>
	<key>textfieldTierTheme</key>
	<string>mobileRoleTheme</string>
	<key>vectorVersusTemple</key>
	<string>reductionVersusWork</string>
</dict>
</plist>
