<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publicGemEdge</key>
	<string>sliderAmongShape</string>
	<key>resourceWithoutOperation</key>
	<string>asynchronousPopupAcceleration</string>
	<key>segueMementoFrequency</key>
	<string>actionAwayProcess</string>
	<key>timerDuringJob</key>
	<string>configurationFromValue</string>
	<key>touchStateDensity</key>
	<string>errorTypeBrightness</string>
</dict>
</plist>
