<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentCatalystName</key>
	<string>curveVersusForm</string>
	<key>cycleOfScope</key>
	<string>cosinePatternCoord</string>
	<key>interactorSinceTemple</key>
	<string>configurationShapeBehavior</string>
	<key>opaqueRouteAlignment</key>
	<string>loopStructureInterval</string>
	<key>profileStrategyRight</key>
	<string>reducerStateTint</string>
	<key>rowPrototypeDensity</key>
	<string>scaffoldSingletonVisible</string>
	<key>storageTempleResponse</key>
	<string>nodeExceptCycle</string>
	<key>subpixelInInterpreter</key>
	<string>multiCompletionRotation</string>
</dict>
</plist>
