<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedSubscriptionOrigin</key>
	<string>marginAsBuffer</string>
	<key>chapterInsidePrototype</key>
	<string>statefulVariableMode</string>
	<key>descriptorAsPattern</key>
	<string>marginThroughOperation</string>
	<key>diffableServicePressure</key>
	<string>priorityInStrategy</string>
	<key>mediocreConfigurationType</key>
	<string>captionKindBorder</string>
	<key>normalResourceBottom</key>
	<string>activatedLossMode</string>
	<key>originalNavigatorSkewy</key>
	<string>statelessPopupFeedback</string>
</dict>
</plist>
