<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interfaceIncludePlatform</key>
	<string>mediaqueryFrameworkSpeed</string>
	<key>remainderSystemBottom</key>
	<string>cupertinoByJob</string>
	<key>sceneWorkFormat</key>
	<string>lostAccessoryOffset</string>
	<key>signShapeFlags</key>
	<string>cellProxyFormat</string>
	<key>statefulFromBuffer</key>
	<string>clipperAgainstFacade</string>
</dict>
</plist>
