<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineByBridge</key>
	<string>seamlessCallbackShape</string>
	<key>batchActionTail</key>
	<string>interactorContainFunction</string>
	<key>durationContainPhase</key>
	<string>channelNearTier</string>
	<key>eagerInterfaceMode</key>
	<string>mediaVarSize</string>
	<key>mediocreGraphAppearance</key>
	<string>taskOutsideProcess</string>
	<key>radiusMementoName</key>
	<string>diffableFrameTint</string>
	<key>requiredBoxshadowState</key>
	<string>catalystLayerOrientation</string>
	<key>subtleInstructionName</key>
	<string>inheritedMediaqueryForce</string>
</dict>
</plist>
