<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentAmongJob</key>
	<string>layoutChainDirection</string>
	<key>backwardWidgetFlags</key>
	<string>masterAboutDecorator</string>
	<key>constraintExceptCommand</key>
	<string>particleVariableVelocity</string>
	<key>interactorAdapterBrightness</key>
	<string>asyncTopicSpeed</string>
	<key>largeCurveDuration</key>
	<string>projectionContextFormat</string>
	<key>marginPrototypeHead</key>
	<string>mediumSceneIndex</string>
	<key>metadataNumberColor</key>
	<string>concreteQueryTag</string>
	<key>stepForVar</key>
	<string>missedCharacterOrientation</string>
</dict>
</plist>
