<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inactiveConsumerState</key>
	<string>richtextLayerOffset</string>
	<key>labelVarDuration</key>
	<string>permanentEffectResponse</string>
	<key>providerParamPadding</key>
	<string>descriptionUntilFramework</string>
	<key>sensorBeyondAction</key>
	<string>sharedEffectForce</string>
	<key>tickerDuringMemento</key>
	<string>normBesideState</string>
</dict>
</plist>
