<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineObserverAppearance</key>
	<string>decorationCompositeContrast</string>
	<key>callbackSingletonPadding</key>
	<string>radioByForm</string>
	<key>durationFromCycle</key>
	<string>coordinatorAsFacade</string>
	<key>extensionStructureDirection</key>
	<string>beginnerMonsterOrigin</string>
	<key>mediumIntensityDelay</key>
	<string>dependencyAgainstVariable</string>
	<key>missedChannelLeft</key>
	<string>flexStructureDelay</string>
	<key>radiusNearMode</key>
	<string>repositoryDuringType</string>
	<key>visibleCurveRight</key>
	<string>eagerLogName</string>
</dict>
</plist>
