<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateCurveForce</key>
	<string>frameAdapterForce</string>
	<key>diffableAllocatorTint</key>
	<string>storageTaskTransparency</string>
	<key>equalizationFlyweightValidation</key>
	<string>hardModelTheme</string>
	<key>graphicFromMode</key>
	<string>gestureChainCenter</string>
	<key>metadataStageSize</key>
	<string>visibleCapsuleKind</string>
	<key>precisionMementoShape</key>
	<string>injectionTaskTop</string>
	<key>publicGraphTag</key>
	<string>requestKindContrast</string>
	<key>routerFrameworkSkewy</key>
	<string>gateAboutCommand</string>
	<key>staticPromiseSpacing</key>
	<string>sizeBesideStrategy</string>
	<key>symmetricChapterDepth</key>
	<string>lazyEffectTint</string>
</dict>
</plist>
