<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureThanCommand</key>
	<string>signatureScopeFormat</string>
	<key>blocNumberVisible</key>
	<string>giftUntilSingleton</string>
	<key>criticalLayoutMode</key>
	<string>firstConvolutionResponse</string>
	<key>extensionJobInteraction</key>
	<string>immutableMobxBottom</string>
	<key>navigatorStructureResponse</key>
	<string>streamThroughInterpreter</string>
	<key>persistentRequestSpacing</key>
	<string>boxNumberPadding</string>
	<key>serviceByForm</key>
	<string>marginBridgeLocation</string>
	<key>streamStyleEdge</key>
	<string>inheritedSizeBottom</string>
	<key>visibleSizeResponse</key>
	<string>radiusFromSystem</string>
</dict>
</plist>
