<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listenerPatternSkewy</key>
	<string>symbolContextAcceleration</string>
	<key>relationalFeatureVisibility</key>
	<string>agileDimensionColor</string>
	<key>resourcePerType</key>
	<string>cursorBufferSpacing</string>
	<key>serviceStateShape</key>
	<string>multiplicationDespiteContext</string>
</dict>
</plist>
