<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorWithoutCycle</key>
	<string>eventNearParameter</string>
	<key>expandedLikeProcess</key>
	<string>presenterChainDensity</string>
	<key>gestureEnvironmentContrast</key>
	<string>entityParamForce</string>
	<key>hashPerType</key>
	<string>litePointType</string>
	<key>paddingPrototypePressure</key>
	<string>labelStateAlignment</string>
	<key>sensorActionTint</key>
	<string>positionedThanPattern</string>
	<key>subtleMobxFeedback</key>
	<string>nativeDescriptionState</string>
</dict>
</plist>
