<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeAroundCommand</key>
	<string>subpixelThroughBuffer</string>
	<key>movementFromTask</key>
	<string>textKindTransparency</string>
	<key>sortedCertificateShape</key>
	<string>dynamicTweenBottom</string>
	<key>storageByMethod</key>
	<string>collectionCycleHue</string>
	<key>storageKindVelocity</key>
	<string>delicateMediaqueryEdge</string>
	<key>topicOrVisitor</key>
	<string>tabviewCommandTag</string>
	<key>vectorTaskResponse</key>
	<string>resultTempleInset</string>
</dict>
</plist>
