<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetShapeDirection</key>
	<string>topicBeyondOperation</string>
	<key>awaitDecoratorBorder</key>
	<string>frameOperationDuration</string>
	<key>descriptionBesidePrototype</key>
	<string>actionTempleDelay</string>
	<key>hierarchicalSlashVisibility</key>
	<string>scaleContainVar</string>
	<key>pivotalIsolateName</key>
	<string>interfaceOfFunction</string>
	<key>statelessFromComposite</key>
	<string>liteErrorTop</string>
	<key>statelessThanMediator</key>
	<string>widgetForFunction</string>
	<key>uniformBufferMode</key>
	<string>layerFunctionLocation</string>
</dict>
</plist>
