<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerContainScope</key>
	<string>tensorVectorPadding</string>
	<key>mediumGridLocation</key>
	<string>navigationBeyondComposite</string>
	<key>navigatorAwayCommand</key>
	<string>immediateEqualizationTail</string>
	<key>offsetAsInterpreter</key>
	<string>rowNearVisitor</string>
	<key>skinBesideJob</key>
	<string>textAgainstMethod</string>
	<key>swiftActivityIndex</key>
	<string>matrixAlongBridge</string>
	<key>zoneInCycle</key>
	<string>resilientDimensionDelay</string>
</dict>
</plist>
