<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelIncludeSingleton</key>
	<string>featureTypeOrientation</string>
	<key>containerSystemDensity</key>
	<string>checklistWithoutMode</string>
	<key>memberFlyweightTag</key>
	<string>taskFrameworkColor</string>
	<key>sharedContractionTop</key>
	<string>secondDecorationEdge</string>
</dict>
</plist>
