<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonChartFlags</key>
	<string>instructionDespiteBuffer</string>
	<key>containerContextDirection</key>
	<string>shaderProcessTint</string>
	<key>equipmentFormContrast</key>
	<string>queryAsInterpreter</string>
	<key>inheritedFutureTension</key>
	<string>stampLayerHue</string>
	<key>methodVisitorTransparency</key>
	<string>kernelForObserver</string>
	<key>newestBatchRight</key>
	<string>intuitiveDocumentResponse</string>
	<key>tensorOverlayInset</key>
	<string>remainderIncludeFunction</string>
	<key>uniqueConfigurationCount</key>
	<string>handlerTaskDuration</string>
</dict>
</plist>
