<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderDecoratorScale</key>
	<string>concreteListviewName</string>
	<key>bulletStateScale</key>
	<string>directRequestTransparency</string>
	<key>channelStageType</key>
	<string>particleCommandMomentum</string>
	<key>constraintOutsideValue</key>
	<string>usecaseParameterInteraction</string>
	<key>gradientDecoratorSpeed</key>
	<string>mainPresenterCenter</string>
	<key>protectedSignatureSize</key>
	<string>usageProcessTop</string>
	<key>resourceParameterAppearance</key>
	<string>gesturedetectorAboutKind</string>
</dict>
</plist>
