<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushAtFramework</key>
	<string>streamThanFunction</string>
	<key>checklistMediatorHue</key>
	<string>priorityFormScale</string>
	<key>fusedSymbolTail</key>
	<string>parallelButtonStatus</string>
	<key>priorityNearMediator</key>
	<string>awaitPlatformHue</string>
	<key>semanticSegueFeedback</key>
	<string>bufferDuringScope</string>
	<key>storeOfShape</key>
	<string>sceneSinceFunction</string>
</dict>
</plist>
