<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonSpriteDelay</key>
	<string>indicatorBeyondVisitor</string>
	<key>directHashEdge</key>
	<string>ephemeralGiftAlignment</string>
	<key>iconFormAlignment</key>
	<string>zoneFlyweightInterval</string>
	<key>sceneWithoutBuffer</key>
	<string>transformerVariableDuration</string>
</dict>
</plist>
