<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarOfShape</key>
	<string>sinkFacadeOrientation</string>
	<key>baselineLayerTint</key>
	<string>coordinatorOfMethod</string>
	<key>delicateViewContrast</key>
	<string>constraintChainShade</string>
	<key>isolateLayerAppearance</key>
	<string>durationTypeBottom</string>
	<key>localSizeResponse</key>
	<string>webReducerMomentum</string>
	<key>repositoryPlatformBorder</key>
	<string>sliderThanProcess</string>
	<key>resizableUsecaseTransparency</key>
	<string>interactorTaskScale</string>
	<key>routePhaseMargin</key>
	<string>buttonAsCycle</string>
	<key>segueAmongProcess</key>
	<string>resultThanComposite</string>
	<key>stateInsideLevel</key>
	<string>remainderShapeStyle</string>
</dict>
</plist>
