<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderByPrototype</key>
	<string>curveNearFramework</string>
	<key>coordinatorUntilCommand</key>
	<string>semanticHandlerFrequency</string>
	<key>interfaceInterpreterPosition</key>
	<string>materialButtonCenter</string>
	<key>reductionCompositeKind</key>
	<string>alertFacadeFrequency</string>
	<key>statefulScopeInset</key>
	<string>delicateFutureOffset</string>
</dict>
</plist>
