<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeMonsterType</key>
	<string>subscriptionScopeCount</string>
	<key>disparateCompositionVisible</key>
	<string>dialogsIncludeShape</string>
	<key>listenerLayerColor</key>
	<string>geometricControllerForce</string>
	<key>nodeOrPattern</key>
	<string>spotAboutMode</string>
	<key>permissiveChallengeInteraction</key>
	<string>vectorIncludePrototype</string>
	<key>prismaticTextureLeft</key>
	<string>stackStrategySkewx</string>
	<key>unactivatedNotificationSkewy</key>
	<string>entropyTaskDepth</string>
</dict>
</plist>
