<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentWithBuffer</key>
	<string>stampShapeInset</string>
	<key>explicitMediaqueryLocation</key>
	<string>sineAsFramework</string>
	<key>substantialAssetType</key>
	<string>consumerLevelTop</string>
	<key>topicIncludeVariable</key>
	<string>logarithmFrameworkInterval</string>
	<key>utilPerMediator</key>
	<string>staticConstraintSpeed</string>
</dict>
</plist>
