<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicRoleTop</key>
	<string>certificateSincePrototype</string>
	<key>delicateIsolateType</key>
	<string>keyIsolateTransparency</string>
	<key>nativeOffsetSaturation</key>
	<string>usecaseNearFacade</string>
	<key>originalTaskRate</key>
	<string>buttonNumberFeedback</string>
	<key>tickerLevelTop</key>
	<string>currentProviderPadding</string>
	<key>unsortedGesturedetectorDuration</key>
	<string>builderDecoratorDelay</string>
	<key>vectorWithBuffer</key>
	<string>lostStatelessBottom</string>
</dict>
</plist>
