<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonAlongJob</key>
	<string>blocAsFunction</string>
	<key>durationLevelTheme</key>
	<string>sceneProxyInset</string>
	<key>primaryMonsterScale</key>
	<string>dropdownbuttonPerPattern</string>
	<key>protocolOutsideDecorator</key>
	<string>factoryMediatorTheme</string>
	<key>scaffoldLikeSingleton</key>
	<string>prevSubpixelFormat</string>
	<key>staticEntityPosition</key>
	<string>taskTaskTag</string>
</dict>
</plist>
