<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledBuilderTension</key>
	<string>frameObserverPadding</string>
	<key>futureFromContext</key>
	<string>gemThanLayer</string>
	<key>gateAtFacade</key>
	<string>hierarchicalCoordinatorLeft</string>
	<key>interactorTypePressure</key>
	<string>hashBesideStyle</string>
	<key>listenerAgainstMediator</key>
	<string>currentConstraintLeft</string>
	<key>parallelScreenBrightness</key>
	<string>oldManagerSkewx</string>
	<key>relationalRouterOpacity</key>
	<string>adaptiveGiftStatus</string>
</dict>
</plist>
