<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedStampOpacity</key>
	<string>crucialChapterInset</string>
	<key>immutableGiftSpacing</key>
	<string>builderMethodVelocity</string>
	<key>protocolTaskVelocity</key>
	<string>largeTitleOffset</string>
	<key>subsequentMediaSkewx</key>
	<string>positionProcessSkewy</string>
</dict>
</plist>
