<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoCardAppearance</key>
	<string>missedCapsuleLeft</string>
	<key>comprehensiveProtocolContrast</key>
	<string>optionEnvironmentResponse</string>
	<key>instructionWorkShape</key>
	<string>tickerThroughProcess</string>
	<key>paddingDuringJob</key>
	<string>inheritedGridBound</string>
	<key>priorPlateSkewy</key>
	<string>sizeContextVisibility</string>
</dict>
</plist>
