<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoReducerSkewx</key>
	<string>channelFunctionInterval</string>
	<key>gemForVariable</key>
	<string>advancedRectBottom</string>
	<key>nodeForBridge</key>
	<string>functionalFrameAppearance</string>
	<key>petCompositeIndex</key>
	<string>callbackIncludeStage</string>
	<key>tangentLayerVisible</key>
	<string>materialGridStyle</string>
	<key>unactivatedRepositoryPressure</key>
	<string>disabledQueueInteraction</string>
</dict>
</plist>
