<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remainderVarTint</key>
	<string>observerForTier</string>
	<key>segueInsideTier</key>
	<string>methodTempleFrequency</string>
	<key>sliderDespiteFlyweight</key>
	<string>providerDecoratorLeft</string>
	<key>stepOrMode</key>
	<string>firstReductionAcceleration</string>
	<key>swiftNumberEdge</key>
	<string>assetBeyondTemple</string>
	<key>taskPatternSkewy</key>
	<string>mobxBesideStyle</string>
</dict>
</plist>
