<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intuitiveMomentumStyle</key>
	<string>hashUntilParam</string>
	<key>masterNearMemento</key>
	<string>projectionLayerHue</string>
	<key>missedSubpixelState</key>
	<string>particleExceptCommand</string>
	<key>pointSinceState</key>
	<string>materialScaleOrigin</string>
	<key>referenceViaForm</key>
	<string>durationKindHead</string>
	<key>requiredModelHead</key>
	<string>buttonMediatorBottom</string>
	<key>riverpodBeyondMemento</key>
	<string>asyncUntilTask</string>
</dict>
</plist>
