<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>queryWithLayer</key>
	<string>draggableModulusTension</string>
	<key>statelessHeapBottom</key>
	<string>constraintTempleTension</string>
	<key>subsequentGraphAcceleration</key>
	<string>granularStepTension</string>
	<key>tableInsidePlatform</key>
	<string>builderActionDuration</string>
</dict>
</plist>
