<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncVectorPadding</key>
	<string>assetSystemName</string>
	<key>baseProxyMargin</key>
	<string>otherTitleVisibility</string>
	<key>compositionalBufferSkewx</key>
	<string>queuePatternFrequency</string>
	<key>criticalTabviewInset</key>
	<string>baselineLayerOffset</string>
	<key>streamInCommand</key>
	<string>litePointBottom</string>
	<key>symbolPatternShape</key>
	<string>multiplicationDespitePattern</string>
</dict>
</plist>
