<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleOutsideStage</key>
	<string>exponentObserverMargin</string>
	<key>mediumTabbarMomentum</key>
	<string>assetActionAlignment</string>
	<key>timerAboutNumber</key>
	<string>ternaryDecoratorMargin</string>
</dict>
</plist>
