<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticStoreValidation</key>
	<string>singleConfigurationTension</string>
	<key>fragmentSystemInset</key>
	<string>convolutionInsideTemple</string>
	<key>mutableEntityOrigin</key>
	<string>disabledInjectionMargin</string>
	<key>permissiveDependencyBottom</key>
	<string>asyncAspectratioBehavior</string>
	<key>sharedCycleTint</key>
	<string>pinchableSkinScale</string>
	<key>sliderAndMemento</key>
	<string>flexInterpreterSpeed</string>
	<key>tappableExponentBrightness</key>
	<string>progressbarByParameter</string>
	<key>taskAndActivity</key>
	<string>appbarAlongBridge</string>
	<key>webDescriptionBottom</key>
	<string>animatedGroupCenter</string>
</dict>
</plist>
