<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerInsideScope</key>
	<string>layerCycleOrientation</string>
	<key>discardedControllerDuration</key>
	<string>usecaseChainIndex</string>
	<key>mediocreZoneDepth</key>
	<string>challengeAwayJob</string>
</dict>
</plist>
