<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryAboutSystem</key>
	<string>constPageviewInset</string>
	<key>cacheSinceDecorator</key>
	<string>skirtUntilState</string>
	<key>constraintThanPlatform</key>
	<string>memberWithActivity</string>
	<key>custompaintLikeComposite</key>
	<string>normalActionColor</string>
	<key>featureVisitorMargin</key>
	<string>dynamicHeroEdge</string>
	<key>queryJobCoord</key>
	<string>largeColumnSaturation</string>
	<key>sizeAtVisitor</key>
	<string>normalPlaybackCount</string>
</dict>
</plist>
