<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectChainPadding</key>
	<string>disabledRiverpodDirection</string>
	<key>cartesianDescriptionInset</key>
	<string>chartSystemValidation</string>
	<key>disabledPresenterShape</key>
	<string>effectThanCycle</string>
	<key>eventThanPhase</key>
	<string>denseModalFlags</string>
	<key>normalSizeVisible</key>
	<string>popupStagePadding</string>
	<key>retainedButtonFrequency</key>
	<string>deferredTechniqueStyle</string>
	<key>singletonViaPhase</key>
	<string>bufferContextVisibility</string>
	<key>sortedSwitchRate</key>
	<string>sophisticatedSampleAlignment</string>
	<key>tabviewValueResponse</key>
	<string>widgetSinceKind</string>
	<key>ternaryMediatorStyle</key>
	<string>globalSkirtIndex</string>
</dict>
</plist>
