<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedDescriptorState</key>
	<string>cubitOperationAppearance</string>
	<key>coordinatorFromFunction</key>
	<string>missedMonsterBrightness</string>
	<key>effectObserverVisible</key>
	<string>titleVarForce</string>
	<key>handlerAtPattern</key>
	<string>offsetInsidePhase</string>
	<key>immutableTimerTint</key>
	<string>rectViaVar</string>
	<key>materialSessionLeft</key>
	<string>mobxByAction</string>
	<key>repositoryScopeOffset</key>
	<string>missedParticleInteraction</string>
	<key>screenAwayTemple</key>
	<string>interactorBridgeStyle</string>
</dict>
</plist>
