<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionFromAdapter</key>
	<string>oldAccessoryVisibility</string>
	<key>mediumCommandPressure</key>
	<string>zoneEnvironmentMomentum</string>
	<key>routerAlongFacade</key>
	<string>subtleQueryInterval</string>
</dict>
</plist>
