<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interpolationFrameworkHead</key>
	<string>offsetObserverVelocity</string>
	<key>remainderPlatformFeedback</key>
	<string>accordionStreamPosition</string>
	<key>repositoryWithoutFacade</key>
	<string>modulusTaskPadding</string>
	<key>resizableConfigurationDepth</key>
	<string>intuitiveSemanticsDirection</string>
	<key>staticPlaybackBottom</key>
	<string>gridOrWork</string>
	<key>tweenStyleLeft</key>
	<string>dependencyDespiteScope</string>
</dict>
</plist>
