<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartOutsideVariable</key>
	<string>resultMethodScale</string>
	<key>futureDecoratorKind</key>
	<string>responsiveTransformerStatus</string>
	<key>handlerChainFrequency</key>
	<string>chapterOfProcess</string>
	<key>hardBuilderType</key>
	<string>listviewPhaseInset</string>
	<key>navigatorBesideMode</key>
	<string>viewAmongState</string>
	<key>routerCycleRight</key>
	<string>projectionCommandSpeed</string>
</dict>
</plist>
