<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterDespiteTier</key>
	<string>activitySystemDelay</string>
	<key>playbackAtPlatform</key>
	<string>publicSlashVelocity</string>
	<key>repositoryIncludeFlyweight</key>
	<string>hardSlashName</string>
	<key>resolverNumberSkewy</key>
	<string>nativeSingletonScale</string>
	<key>segmentUntilActivity</key>
	<string>catalystActivityCount</string>
</dict>
</plist>
