<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchVariableState</key>
	<string>loopJobAcceleration</string>
	<key>pivotalResourceEdge</key>
	<string>particleOrMethod</string>
	<key>statefulAlphaState</key>
	<string>nativeViewFormat</string>
	<key>substantialAnimationVisibility</key>
	<string>streamStageKind</string>
	<key>visiblePreviewName</key>
	<string>pinchableBinaryRight</string>
</dict>
</plist>
