<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderOperationState</key>
	<string>otherTaskDepth</string>
	<key>buttonVarTint</key>
	<string>vectorWithJob</string>
	<key>futureKindOffset</key>
	<string>dialogsSingletonContrast</string>
	<key>metadataSinceActivity</key>
	<string>layerObserverCoord</string>
	<key>positionAndBuffer</key>
	<string>stateMementoOrigin</string>
</dict>
</plist>
