<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationSinceVariable</key>
	<string>compositionalChecklistSpacing</string>
	<key>criticalPetType</key>
	<string>tappableStatefulEdge</string>
	<key>decorationLikeActivity</key>
	<string>listviewContextBehavior</string>
	<key>denseConstraintTop</key>
	<string>responseShapeEdge</string>
	<key>mediumListviewCenter</key>
	<string>permissiveZoneKind</string>
	<key>rapidCommandBrightness</key>
	<string>finalNotifierOrigin</string>
	<key>streamSinceInterpreter</key>
	<string>functionalNavigatorPressure</string>
</dict>
</plist>
