<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableInteractorSize</key>
	<string>storagePrototypeDirection</string>
	<key>futureKindAlignment</key>
	<string>symmetricCurveVisibility</string>
	<key>localizationInterpreterStatus</key>
	<string>menuOfOperation</string>
	<key>nextUtilDelay</key>
	<string>fragmentUntilComposite</string>
	<key>rapidChapterTension</key>
	<string>aspectModeDuration</string>
	<key>rowWithoutTemple</key>
	<string>crucialUtilTop</string>
</dict>
</plist>
