<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandDespiteFacade</key>
	<string>exponentScopeState</string>
	<key>constChartHead</key>
	<string>animatedcontainerUntilJob</string>
	<key>exceptionSinceStructure</key>
	<string>kernelSinceContext</string>
	<key>imperativeThemeBehavior</key>
	<string>usecaseNearType</string>
	<key>numericalDecorationInterval</key>
	<string>rapidLoopShape</string>
	<key>opaqueAlignmentHead</key>
	<string>batchByMode</string>
	<key>unsortedTimerBottom</key>
	<string>basicProgressbarResponse</string>
</dict>
</plist>
