<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureAlongLevel</key>
	<string>vectorInVar</string>
	<key>gateNumberEdge</key>
	<string>futureSystemRate</string>
	<key>mapOperationMomentum</key>
	<string>geometricInjectionBorder</string>
	<key>mediocreClipperDirection</key>
	<string>grainViaVar</string>
	<key>radioWithFramework</key>
	<string>rapidDurationVelocity</string>
	<key>routeVarSpacing</key>
	<string>effectAgainstVariable</string>
	<key>statelessLayoutOpacity</key>
	<string>brushThanLayer</string>
</dict>
</plist>
