<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanConvolutionBrightness</key>
	<string>asyncAwaitFlags</string>
	<key>integerInMemento</key>
	<string>activityAsCommand</string>
	<key>reductionPerNumber</key>
	<string>priorThreadRotation</string>
</dict>
</plist>
