<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationBridgeColor</key>
	<string>storyboardCompositeLocation</string>
	<key>decorationPerEnvironment</key>
	<string>columnFacadeColor</string>
	<key>deferredContractionFeedback</key>
	<string>newestAccessoryFrequency</string>
	<key>ephemeralCoordinatorLocation</key>
	<string>uniformAlignmentBorder</string>
	<key>radiusAdapterSaturation</key>
	<string>unsortedArithmeticValidation</string>
	<key>reactiveGroupRotation</key>
	<string>typicalWorkflowOffset</string>
	<key>reducerDespiteAction</key>
	<string>disabledCellColor</string>
	<key>specifierEnvironmentBottom</key>
	<string>sequentialTextureHue</string>
	<key>swiftAlongForm</key>
	<string>adaptiveLoopCount</string>
	<key>uniqueCommandType</key>
	<string>concurrentAxisOffset</string>
</dict>
</plist>
