<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorPlatformAlignment</key>
	<string>techniqueDuringProxy</string>
	<key>cartesianGrayscaleState</key>
	<string>dynamicManagerPressure</string>
	<key>controllerLevelDensity</key>
	<string>variantOrChain</string>
	<key>navigationKindOffset</key>
	<string>reactiveListenerShade</string>
	<key>resizablePetInterval</key>
	<string>dialogsVarTint</string>
</dict>
</plist>
