<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentMissionSkewx</key>
	<string>timerStructureTop</string>
	<key>gesturedetectorWithDecorator</key>
	<string>compositionLevelVisibility</string>
	<key>originalGiftScale</key>
	<string>activityEnvironmentContrast</string>
	<key>projectionFacadeVisibility</key>
	<string>containerAtValue</string>
	<key>scaleParamDepth</key>
	<string>mainAnchorMode</string>
	<key>semanticProfileDelay</key>
	<string>permissiveSymbolTag</string>
	<key>singletonScopeBound</key>
	<string>liteMarginHead</string>
	<key>stampActivityName</key>
	<string>referenceAsWork</string>
	<key>tableKindType</key>
	<string>storeDecoratorHue</string>
</dict>
</plist>
