<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>materialWithAction</key>
	<string>coordinatorForValue</string>
	<key>resourceWithoutObserver</key>
	<string>inactivePlateTheme</string>
	<key>routeViaPattern</key>
	<string>specifyHeapSpeed</string>
	<key>streamThroughStage</key>
	<string>eagerContainerRight</string>
	<key>topicAtBuffer</key>
	<string>modulusParameterEdge</string>
	<key>touchInsideFlyweight</key>
	<string>presenterFormMargin</string>
</dict>
</plist>
