<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layoutInsideStrategy</key>
	<string>aspectEnvironmentVelocity</string>
	<key>rapidOverlaySkewy</key>
	<string>layerThroughProcess</string>
	<key>riverpodAndVariable</key>
	<string>slashAmongFunction</string>
	<key>routerDuringStyle</key>
	<string>popupFacadePressure</string>
</dict>
</plist>
