<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonCommandDirection</key>
	<string>secondDelegateTension</string>
	<key>flexibleTableType</key>
	<string>allocatorAmongStage</string>
	<key>listenerInsideBridge</key>
	<string>keyPageviewStatus</string>
	<key>momentumDuringCommand</key>
	<string>activitySinceCycle</string>
	<key>resultTierTint</key>
	<string>sceneStateFrequency</string>
	<key>titleCommandOffset</key>
	<string>timerDecoratorInset</string>
	<key>utilLikeParameter</key>
	<string>sustainableTernaryTop</string>
</dict>
</plist>
