<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectAwayMode</key>
	<string>layerJobVelocity</string>
	<key>gramAwayScope</key>
	<string>sortedCollectionStatus</string>
	<key>opaqueGiftBorder</key>
	<string>completerIncludeEnvironment</string>
	<key>sineBufferSkewy</key>
	<string>frameStageMode</string>
	<key>tabbarLikeJob</key>
	<string>ephemeralTextureCenter</string>
	<key>topicTempleHead</key>
	<string>symbolAgainstJob</string>
	<key>viewAroundComposite</key>
	<string>heapWithoutLevel</string>
</dict>
</plist>
