<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intermediateDelegateKind</key>
	<string>sampleParamPadding</string>
	<key>loopBesideMethod</key>
	<string>durationFormAppearance</string>
	<key>similarProtocolDepth</key>
	<string>promiseParameterDensity</string>
	<key>sizeByFlyweight</key>
	<string>taskWithoutPhase</string>
	<key>skinInsidePrototype</key>
	<string>presenterCompositeEdge</string>
	<key>temporaryClipperMargin</key>
	<string>loopSinceStrategy</string>
</dict>
</plist>
