<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeOfVisitor</key>
	<string>asynchronousDurationBehavior</string>
	<key>coordinatorOrDecorator</key>
	<string>containerAboutVisitor</string>
	<key>graphicSinceEnvironment</key>
	<string>widgetExceptMemento</string>
	<key>greatAspectratioCoord</key>
	<string>pageviewFrameworkDensity</string>
	<key>independentTangentDelay</key>
	<string>shaderThanProcess</string>
	<key>protocolSinceTask</key>
	<string>interactorAgainstAction</string>
</dict>
</plist>
