<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaWithVariable</key>
	<string>queryForForm</string>
	<key>concreteDurationBorder</key>
	<string>imageBeyondDecorator</string>
	<key>drawerStagePressure</key>
	<string>protocolStageScale</string>
	<key>independentGroupTail</key>
	<string>numericalIconStatus</string>
	<key>mapOfProcess</key>
	<string>textureSinceFacade</string>
	<key>normSystemAlignment</key>
	<string>sampleDuringAction</string>
</dict>
</plist>
