<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateExceptCommand</key>
	<string>litePetMode</string>
	<key>brushJobDirection</key>
	<string>boxFlyweightTransparency</string>
	<key>builderTierSpeed</key>
	<string>topicAboutStrategy</string>
	<key>cartesianImageAcceleration</key>
	<string>protectedBorderFlags</string>
	<key>challengeBesidePlatform</key>
	<string>hierarchicalSlashVisible</string>
	<key>integerUntilBuffer</key>
	<string>channelKindDepth</string>
	<key>oldGatePadding</key>
	<string>allocatorStageStatus</string>
	<key>taskEnvironmentStyle</key>
	<string>concreteEventRate</string>
	<key>textfieldPerTier</key>
	<string>dependencyValueSpeed</string>
</dict>
</plist>
