<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackOfContext</key>
	<string>stackTaskEdge</string>
	<key>diversifiedContractionTheme</key>
	<string>backwardCubitForce</string>
	<key>listenerScopeStatus</key>
	<string>progressbarActionLocation</string>
	<key>paddingVariableResponse</key>
	<string>modulusPatternValidation</string>
	<key>roleBesideMode</key>
	<string>permissiveFragmentContrast</string>
</dict>
</plist>
