<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerDependencySpeed</key>
	<string>descriptionOutsideActivity</string>
	<key>capsuleViaTier</key>
	<string>utilForPhase</string>
	<key>commonContainerBorder</key>
	<string>futureMementoHead</string>
	<key>eagerLossBehavior</key>
	<string>sampleNumberForce</string>
	<key>eventAroundParameter</key>
	<string>certificateFrameworkOrigin</string>
	<key>pointAroundStage</key>
	<string>largeTangentCoord</string>
	<key>providerFlyweightShape</key>
	<string>reusableGraphFlags</string>
	<key>stateThroughProcess</key>
	<string>touchDespiteProxy</string>
	<key>tweenStrategyTop</key>
	<string>buttonParamMomentum</string>
	<key>widgetActivityState</key>
	<string>customizedDescriptionInterval</string>
</dict>
</plist>
