<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentFormTheme</key>
	<string>chapterTierShade</string>
	<key>declarativeGrainFlags</key>
	<string>intuitiveIntensityForce</string>
	<key>granularRadiusBottom</key>
	<string>groupEnvironmentFrequency</string>
	<key>otherBlocContrast</key>
	<string>compositionalRadioTail</string>
</dict>
</plist>
