<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kernelActivityTheme</key>
	<string>graphPrototypeCenter</string>
	<key>layerModeShade</key>
	<string>immutableServiceTheme</string>
	<key>modalFunctionPadding</key>
	<string>alignmentPlatformPosition</string>
	<key>priorMenuAlignment</key>
	<string>asyncScaffoldTag</string>
	<key>radiusPrototypeVisible</key>
	<string>stateProxyValidation</string>
	<key>reductionParameterRotation</key>
	<string>ternaryAtStructure</string>
</dict>
</plist>
