<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushParameterState</key>
	<string>newestSubscriptionKind</string>
	<key>comprehensiveChecklistRate</key>
	<string>animatedCheckboxCoord</string>
	<key>delegateActivityRotation</key>
	<string>resourceWithPhase</string>
	<key>euclideanScrollDuration</key>
	<string>hyperbolicUnaryInteraction</string>
	<key>invisibleDescriptionSize</key>
	<string>plateLevelFlags</string>
	<key>projectionInsideTask</key>
	<string>extensionBufferOrigin</string>
	<key>sliderPatternDistance</key>
	<string>signatureVisitorDensity</string>
</dict>
</plist>
