<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerAtContext</key>
	<string>statelessLabelTop</string>
	<key>coordinatorAlongValue</key>
	<string>curveFrameworkPosition</string>
	<key>flexPhaseOpacity</key>
	<string>giftAgainstStrategy</string>
	<key>inheritedFeatureRotation</key>
	<string>diversifiedBuilderSpacing</string>
	<key>layoutTierMode</key>
	<string>timerDecoratorRotation</string>
	<key>scrollTempleStatus</key>
	<string>permanentStateHead</string>
	<key>skirtModeDepth</key>
	<string>segueAboutTemple</string>
	<key>storeContextOffset</key>
	<string>cycleProcessIndex</string>
	<key>switchLevelHead</key>
	<string>remainderForProxy</string>
	<key>tweenCommandVisibility</key>
	<string>temporaryStoreVelocity</string>
</dict>
</plist>
