<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushKindCenter</key>
	<string>intuitiveCapsuleIndex</string>
	<key>queryObserverCenter</key>
	<string>durationAsVisitor</string>
	<key>shaderInsideContext</key>
	<string>symmetricPromiseTransparency</string>
	<key>sophisticatedAllocatorRate</key>
	<string>chapterWorkFlags</string>
</dict>
</plist>
