<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateOutsideTemple</key>
	<string>cycleLayerScale</string>
	<key>multiStreamFormat</key>
	<string>temporaryNotifierCoord</string>
	<key>navigationPerTier</key>
	<string>intermediateDropdownbuttonSpeed</string>
	<key>nodeBridgeOffset</key>
	<string>intensityCommandKind</string>
	<key>routerAlongFramework</key>
	<string>screenActivityShade</string>
	<key>serviceIncludeInterpreter</key>
	<string>vectorInterpreterInset</string>
</dict>
</plist>
