<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncVersusFlyweight</key>
	<string>reusableTickerBorder</string>
	<key>documentAndLayer</key>
	<string>popupAwayForm</string>
	<key>ephemeralResultLocation</key>
	<string>subscriptionForNumber</string>
	<key>errorFromMediator</key>
	<string>semanticsStyleLeft</string>
	<key>gridAroundAction</key>
	<string>otherDescriptorVelocity</string>
	<key>persistentPageviewPadding</key>
	<string>constraintPerWork</string>
	<key>publicPainterResponse</key>
	<string>mediocreMemberVelocity</string>
	<key>textEnvironmentRotation</key>
	<string>layoutOutsideShape</string>
	<key>viewCommandBrightness</key>
	<string>immutableModelVelocity</string>
</dict>
</plist>
