<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hardStoreVisible</key>
	<string>mobileWithoutJob</string>
	<key>heroOfPrototype</key>
	<string>awaitVersusOperation</string>
	<key>isolateNearLevel</key>
	<string>grayscaleAroundCycle</string>
	<key>layoutLikePlatform</key>
	<string>hashPatternInset</string>
	<key>mobileTabviewTint</key>
	<string>frameFromCommand</string>
	<key>normalIsolateColor</key>
	<string>indicatorPerNumber</string>
	<key>radiusAsMemento</key>
	<string>aspectratioUntilParameter</string>
	<key>requiredSizedboxInterval</key>
	<string>nodeFunctionTheme</string>
</dict>
</plist>
