<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineFacadeRate</key>
	<string>convolutionBesideFacade</string>
	<key>boxLikeNumber</key>
	<string>buttonPrototypeInset</string>
	<key>channelOfParam</key>
	<string>documentWorkOrientation</string>
	<key>dependencyNearLevel</key>
	<string>newestZoneBound</string>
	<key>intuitiveDescriptorCoord</key>
	<string>curveFormRotation</string>
	<key>petWithoutNumber</key>
	<string>workflowStageForce</string>
	<key>resourceLevelMomentum</key>
	<string>accordionDelegateSaturation</string>
	<key>sinkInMediator</key>
	<string>lazySinkPressure</string>
	<key>variantProxyForce</key>
	<string>gesturedetectorTempleTail</string>
	<key>viewAgainstSystem</key>
	<string>keyFactoryInterval</string>
</dict>
</plist>
