<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerVariableStatus</key>
	<string>compositionalRepositoryRotation</string>
	<key>constraintTypeHead</key>
	<string>loopInsideFramework</string>
	<key>curveAmongFramework</key>
	<string>indicatorAwayFunction</string>
	<key>dedicatedControllerColor</key>
	<string>modelAtWork</string>
	<key>dynamicConfigurationVisibility</key>
	<string>firstManagerSpacing</string>
	<key>nextSwitchName</key>
	<string>visibleKernelPressure</string>
	<key>paddingBufferStatus</key>
	<string>stampChainSpacing</string>
	<key>signatureNearSingleton</key>
	<string>standaloneEffectDuration</string>
	<key>storeStyleDistance</key>
	<string>kernelAtKind</string>
	<key>transitionAdapterOpacity</key>
	<string>themeStageLocation</string>
</dict>
</plist>
