<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicPriorityOrigin</key>
	<string>gramInterpreterForce</string>
	<key>sineSystemDuration</key>
	<string>widgetProxyDuration</string>
	<key>sliderForProxy</key>
	<string>finalUsageContrast</string>
	<key>streamLikeProcess</key>
	<string>relationalRowSpeed</string>
</dict>
</plist>
