<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerProxyName</key>
	<string>timerDuringAdapter</string>
	<key>intuitiveBufferOrigin</key>
	<string>particleDuringNumber</string>
	<key>localizationWithDecorator</key>
	<string>directlyAppbarDistance</string>
	<key>navigatorByWork</key>
	<string>adaptiveVariantForce</string>
	<key>oldPreviewBound</key>
	<string>momentumVarSize</string>
	<key>sortedMasterLocation</key>
	<string>listenerContainParameter</string>
</dict>
</plist>
