<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintFunctionVisibility</key>
	<string>responseBeyondParameter</string>
	<key>geometricDecorationCoord</key>
	<string>bitrateSystemShape</string>
	<key>layoutVariableRotation</key>
	<string>serviceContainTask</string>
	<key>memberSinceVariable</key>
	<string>statefulMediaqueryTheme</string>
	<key>navigatorAsPhase</key>
	<string>advancedCardSpacing</string>
	<key>nextObserverBorder</key>
	<string>blocNearPrototype</string>
	<key>prismaticLoopStatus</key>
	<string>tableThroughFramework</string>
	<key>standaloneRouterTransparency</key>
	<string>desktopRectTop</string>
	<key>sustainableConfigurationTransparency</key>
	<string>rowBesideOperation</string>
</dict>
</plist>
