<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loopObserverDirection</key>
	<string>sharedListenerAlignment</string>
	<key>memberExceptTask</key>
	<string>concurrentSizeBrightness</string>
	<key>repositoryFacadeContrast</key>
	<string>delegatePatternForce</string>
</dict>
</plist>
