<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxObserverSaturation</key>
	<string>menuContainDecorator</string>
	<key>giftOfFlyweight</key>
	<string>hierarchicalOptimizerFormat</string>
	<key>hashSingletonSkewy</key>
	<string>uniqueReductionStatus</string>
	<key>invisibleDescriptionDistance</key>
	<string>popupFromMediator</string>
	<key>prevRectMomentum</key>
	<string>queryNumberShape</string>
	<key>resolverOutsideType</key>
	<string>resourceAsOperation</string>
	<key>webPriorityCount</key>
	<string>hyperbolicStorageCount</string>
</dict>
</plist>
