<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableZoneAppearance</key>
	<string>richtextAsCycle</string>
	<key>groupPerStructure</key>
	<string>resultPhaseDistance</string>
	<key>listviewAlongStructure</key>
	<string>monsterAlongValue</string>
	<key>nodeInterpreterContrast</key>
	<string>webFutureBehavior</string>
	<key>otherTransitionTop</key>
	<string>presenterWithProxy</string>
	<key>publicGridRight</key>
	<string>resourceFacadeFeedback</string>
</dict>
</plist>
