<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterChainEdge</key>
	<string>routeThanTier</string>
	<key>dimensionAgainstVisitor</key>
	<string>queueMediatorDuration</string>
	<key>dimensionBufferStatus</key>
	<string>lastInstructionCoord</string>
	<key>positionedThroughContext</key>
	<string>descriptionScopeSaturation</string>
</dict>
</plist>
