<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxSingletonLocation</key>
	<string>animatedcontainerAwayStyle</string>
	<key>captionThroughPhase</key>
	<string>spineContainTask</string>
	<key>signDespiteBridge</key>
	<string>alignmentAsScope</string>
	<key>significantGraphicType</key>
	<string>progressbarSinceBridge</string>
	<key>skinAtVar</key>
	<string>metadataShapeMomentum</string>
	<key>skinFlyweightCenter</key>
	<string>masterActionMode</string>
	<key>transitionVariableInset</key>
	<string>binaryParamVisibility</string>
</dict>
</plist>
