<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalCapsulePosition</key>
	<string>curvePhaseSize</string>
	<key>errorShapeOrientation</key>
	<string>serviceJobSkewx</string>
	<key>mobileMapTop</key>
	<string>nativeActivityEdge</string>
	<key>modalAlongFramework</key>
	<string>sophisticatedArithmeticColor</string>
	<key>persistentPlaybackFormat</key>
	<string>materialPatternAcceleration</string>
	<key>previewAtChain</key>
	<string>inactiveSlashLeft</string>
	<key>prismaticDrawerBrightness</key>
	<string>awaitMethodSaturation</string>
	<key>screenThanNumber</key>
	<string>navigationNumberDistance</string>
	<key>stateParameterDirection</key>
	<string>mobxBesideNumber</string>
</dict>
</plist>
