<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionTierScale</key>
	<string>featureSystemTransparency</string>
	<key>comprehensivePainterOrientation</key>
	<string>priorAsyncTransparency</string>
	<key>coordinatorAgainstLevel</key>
	<string>popupAroundValue</string>
	<key>integerAmongStrategy</key>
	<string>compositionalTextureInterval</string>
	<key>lastModelCenter</key>
	<string>awaitBridgeTransparency</string>
	<key>otherServiceBorder</key>
	<string>liteMemberTheme</string>
	<key>skinContainEnvironment</key>
	<string>oldLabelFlags</string>
</dict>
</plist>
