<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gesturedetectorChainBound</key>
	<string>typicalReducerDelay</string>
	<key>menuFlyweightType</key>
	<string>independentGateHue</string>
	<key>monsterByStage</key>
	<string>directlySpriteRotation</string>
	<key>projectionStageShape</key>
	<string>futureOrVisitor</string>
	<key>signatureByInterpreter</key>
	<string>touchAsStyle</string>
</dict>
</plist>
