<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicAllocatorStatus</key>
	<string>chartVersusNumber</string>
	<key>comprehensiveRichtextDelay</key>
	<string>backwardIntegerScale</string>
	<key>entityInTier</key>
	<string>featureBesideProcess</string>
	<key>grainScopeFormat</key>
	<string>integerLevelBottom</string>
	<key>navigationLikePrototype</key>
	<string>directlyRouteContrast</string>
	<key>nextBufferSize</key>
	<string>touchViaBridge</string>
	<key>persistentListviewForce</key>
	<string>reductionAlongMediator</string>
	<key>priorStoryboardForce</key>
	<string>canvasWithValue</string>
	<key>tensorEffectBound</key>
	<string>singletonLikeContext</string>
</dict>
</plist>
