<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ignoredArithmeticMode</key>
	<string>constraintInsideNumber</string>
	<key>singletonOrNumber</key>
	<string>agileHeapDepth</string>
</dict>
</plist>
