<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionChannelsSize</key>
	<string>graphicAwayForm</string>
	<key>activityContextOpacity</key>
	<string>advancedSensorSkewy</string>
	<key>chartJobTension</key>
	<string>desktopSwitchDistance</string>
	<key>layerWithoutMethod</key>
	<string>rapidFrameTheme</string>
	<key>lazyNodeCenter</key>
	<string>specifierBufferTint</string>
	<key>mutableWidgetTransparency</key>
	<string>eventActivityInteraction</string>
	<key>relationalPopupDirection</key>
	<string>alignmentKindTint</string>
	<key>requestPlatformInteraction</key>
	<string>declarativeNodeType</string>
	<key>responsiveErrorValidation</key>
	<string>adaptiveRowStatus</string>
	<key>tweenFacadeForce</key>
	<string>customizedMusicSpeed</string>
</dict>
</plist>
