<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finalLabelAlignment</key>
	<string>textfieldUntilJob</string>
	<key>firstMomentumIndex</key>
	<string>borderStructureInterval</string>
	<key>mediocrePresenterAlignment</key>
	<string>instructionTierVisible</string>
	<key>radioActionOrientation</key>
	<string>builderVariableShape</string>
	<key>similarProviderAcceleration</key>
	<string>hashAmongParam</string>
	<key>statefulTabbarForce</key>
	<string>eventSystemBound</string>
</dict>
</plist>
