<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateAndNumber</key>
	<string>discardedInkwellLeft</string>
	<key>characterOperationBound</key>
	<string>gestureParameterBehavior</string>
	<key>discardedMasterEdge</key>
	<string>durationValueBound</string>
	<key>enabledProgressbarSize</key>
	<string>movementLikeLayer</string>
	<key>errorContainCycle</key>
	<string>featureJobOrientation</string>
	<key>positionWithoutDecorator</key>
	<string>logForLayer</string>
	<key>requiredPlaybackPadding</key>
	<string>webIntensityCenter</string>
	<key>routeNumberPressure</key>
	<string>menuActionKind</string>
	<key>tabbarFromScope</key>
	<string>presenterBridgeFormat</string>
	<key>taskThroughOperation</key>
	<string>optionVersusAction</string>
</dict>
</plist>
