<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAmongInterpreter</key>
	<string>completerOfInterpreter</string>
	<key>concreteCellKind</key>
	<string>layerBufferCenter</string>
	<key>criticalTweenVisible</key>
	<string>progressbarAsProcess</string>
	<key>materialIntensityKind</key>
	<string>signatureContainPattern</string>
	<key>playbackNumberLeft</key>
	<string>compositionalLayoutBottom</string>
	<key>taskTempleInteraction</key>
	<string>vectorThroughPlatform</string>
</dict>
</plist>
