<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderPatternRate</key>
	<string>unsortedSizeAcceleration</string>
	<key>containerCommandAlignment</key>
	<string>modelAdapterEdge</string>
	<key>documentNearFramework</key>
	<string>advancedCanvasForce</string>
	<key>equalizationProxyInteraction</key>
	<string>repositoryCycleVisible</string>
	<key>multiGrainTint</key>
	<string>eagerCacheType</string>
	<key>opaqueControllerTransparency</key>
	<string>beginnerThemeMode</string>
	<key>previewExceptSystem</key>
	<string>bufferNearTemple</string>
	<key>sliderCommandOpacity</key>
	<string>roleNearAction</string>
	<key>subpixelByChain</key>
	<string>mediaPhaseDensity</string>
	<key>textAtContext</key>
	<string>reducerVarBorder</string>
</dict>
</plist>
