<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisBesidePattern</key>
	<string>themeCycleCount</string>
	<key>giftAwayStyle</key>
	<string>previewProxyCenter</string>
	<key>mediumCupertinoMargin</key>
	<string>stateAmongValue</string>
	<key>normWithChain</key>
	<string>queryAgainstFunction</string>
	<key>priorityActivityHead</key>
	<string>synchronousDescriptionRotation</string>
	<key>publicRadiusRotation</key>
	<string>timerContainPattern</string>
	<key>publicRadiusScale</key>
	<string>cardExceptContext</string>
	<key>sessionStrategyOrigin</key>
	<string>responsiveMediaOffset</string>
	<key>textureOperationDepth</key>
	<string>typicalSpotBottom</string>
</dict>
</plist>
