<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushContextHead</key>
	<string>adaptiveSceneVelocity</string>
	<key>delicateStreamSkewx</key>
	<string>diversifiedSessionFeedback</string>
	<key>positionWithParam</key>
	<string>dynamicResolverSkewy</string>
	<key>retainedAssetTheme</key>
	<string>diffableUtilLeft</string>
	<key>rowObserverInterval</key>
	<string>managerThroughType</string>
	<key>secondMultiplicationDensity</key>
	<string>interactorLayerEdge</string>
	<key>spineObserverDuration</key>
	<string>significantCheckboxCount</string>
	<key>unsortedDocumentOffset</key>
	<string>radiusWorkState</string>
</dict>
</plist>
