<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalizationTaskBrightness</key>
	<string>symmetricGroupShade</string>
	<key>gestureAtVisitor</key>
	<string>multiSubscriptionColor</string>
	<key>listviewContainAdapter</key>
	<string>respectiveFutureOpacity</string>
	<key>masterPerDecorator</key>
	<string>batchAlongWork</string>
	<key>statefulIntensityDistance</key>
	<string>semanticThemeSkewx</string>
	<key>topicAboutMediator</key>
	<string>capsuleThanShape</string>
</dict>
</plist>
