<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAroundLayer</key>
	<string>tangentThroughTemple</string>
	<key>appbarCycleVelocity</key>
	<string>equalizationContextTail</string>
	<key>asyncQueueBrightness</key>
	<string>cosinePerBridge</string>
	<key>elasticSegueTail</key>
	<string>localizationNearStructure</string>
	<key>listenerFacadeInteraction</key>
	<string>roleCommandCenter</string>
</dict>
</plist>
