<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hierarchicalListviewVisible</key>
	<string>blocUntilFacade</string>
	<key>opaqueRouterTop</key>
	<string>textureActionTag</string>
	<key>permanentRadioContrast</key>
	<string>grayscaleParameterLocation</string>
	<key>pointAroundTemple</key>
	<string>offsetMethodSpacing</string>
	<key>sliderVisitorSpeed</key>
	<string>completerWithoutAdapter</string>
</dict>
</plist>
