<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorAtShape</key>
	<string>interfaceExceptState</string>
	<key>gramByFacade</key>
	<string>dedicatedServiceHue</string>
	<key>optionTempleTag</key>
	<string>alertProxyTransparency</string>
	<key>reductionSystemMomentum</key>
	<string>sophisticatedSwiftState</string>
	<key>stateForShape</key>
	<string>callbackJobBorder</string>
	<key>statelessPatternBrightness</key>
	<string>grainAtAction</string>
	<key>subsequentContractionSize</key>
	<string>decorationValueRate</string>
</dict>
</plist>
