<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>invisibleIconFlags</key>
	<string>interactiveUtilOffset</string>
	<key>loopExceptSystem</key>
	<string>usedDelegateRight</string>
	<key>normMementoVisibility</key>
	<string>localizationTypeMode</string>
	<key>threadContextDelay</key>
	<string>desktopEventPressure</string>
</dict>
</plist>
