<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardIncludeAction</key>
	<string>delicatePromiseIndex</string>
	<key>methodVersusForm</key>
	<string>serviceParamMode</string>
	<key>permanentNormLeft</key>
	<string>handlerIncludeProcess</string>
	<key>reducerInterpreterSpacing</key>
	<string>accessoryOrFunction</string>
	<key>responseStateDistance</key>
	<string>brushContainPattern</string>
	<key>routeOperationResponse</key>
	<string>logOperationTag</string>
	<key>sizeBesideDecorator</key>
	<string>petNearNumber</string>
	<key>textureFromCommand</key>
	<string>constraintAboutDecorator</string>
</dict>
</plist>
