<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderMediatorDistance</key>
	<string>globalGemInteraction</string>
	<key>coordinatorThanStructure</key>
	<string>sophisticatedRectContrast</string>
	<key>cosineParameterCoord</key>
	<string>observerModeTag</string>
	<key>protocolOrValue</key>
	<string>radioChainDelay</string>
	<key>tensorGraphicInterval</key>
	<string>permanentActivityInterval</string>
	<key>unactivatedActivityStyle</key>
	<string>publicModelCoord</string>
	<key>utilVarTheme</key>
	<string>routerAmongFramework</string>
</dict>
</plist>
