<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerScreenHead</key>
	<string>sortedBlocDelay</string>
	<key>compositionDecoratorOrigin</key>
	<string>lostStepTop</string>
	<key>flexibleMemberOpacity</key>
	<string>lazyToolBorder</string>
	<key>gemForTier</key>
	<string>featureAgainstNumber</string>
	<key>mutableAllocatorShade</key>
	<string>semanticDrawerDirection</string>
	<key>presenterAtTier</key>
	<string>inheritedEntityBehavior</string>
	<key>sharedMasterRight</key>
	<string>currentDurationBorder</string>
	<key>synchronousMenuSpeed</key>
	<string>instructionAtChain</string>
	<key>viewByObserver</key>
	<string>asyncFormTheme</string>
</dict>
</plist>
