<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedPrecisionAcceleration</key>
	<string>nodeOfTemple</string>
	<key>asyncAgainstState</key>
	<string>transformerFacadeShade</string>
	<key>cartesianUsecaseCenter</key>
	<string>missionCommandIndex</string>
	<key>layerActivityLocation</key>
	<string>rapidZoneHead</string>
</dict>
</plist>
