<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityStrategyEdge</key>
	<string>utilLikeObserver</string>
	<key>associatedScrollKind</key>
	<string>errorInInterpreter</string>
	<key>exceptionTempleTransparency</key>
	<string>sessionLayerDepth</string>
	<key>mutableTitleAcceleration</key>
	<string>sizeInsideFramework</string>
	<key>pointFromProxy</key>
	<string>descriptionBeyondStrategy</string>
</dict>
</plist>
