<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushActionTop</key>
	<string>cupertinoProjectTheme</string>
	<key>captionVisitorRotation</key>
	<string>navigationByType</string>
	<key>catalystSystemTension</key>
	<string>topicModeCenter</string>
	<key>lastToolVisible</key>
	<string>effectAroundFramework</string>
	<key>normalSegmentCount</key>
	<string>autoConsumerBottom</string>
	<key>promiseUntilVar</key>
	<string>cardFromBuffer</string>
	<key>signatureTaskCenter</key>
	<string>effectFlyweightPadding</string>
</dict>
</plist>
