<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layoutLikeKind</key>
	<string>mutableCatalystAppearance</string>
	<key>localizationOfBuffer</key>
	<string>labelJobDelay</string>
	<key>modelCycleAppearance</key>
	<string>parallelGradientPressure</string>
	<key>resultAroundValue</key>
	<string>configurationPrototypeCoord</string>
	<key>switchPerTask</key>
	<string>diversifiedAspectratioInteraction</string>
</dict>
</plist>
