<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAroundAdapter</key>
	<string>interactorAlongSystem</string>
	<key>inheritedStateVisibility</key>
	<string>lazyControllerSaturation</string>
	<key>responsePlatformCenter</key>
	<string>sineViaVariable</string>
	<key>sequentialTechniqueShade</key>
	<string>normActionScale</string>
	<key>singletonNumberBorder</key>
	<string>parallelScaleBehavior</string>
	<key>techniqueBesideMode</key>
	<string>animatedCellInterval</string>
	<key>touchActivityColor</key>
	<string>specifyButtonEdge</string>
	<key>transformerActionAppearance</key>
	<string>priorAlignmentAcceleration</string>
</dict>
</plist>
