<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxParameterCoord</key>
	<string>immediateTouchTension</string>
	<key>chapterStructureOffset</key>
	<string>tableStyleFormat</string>
	<key>inactiveDecorationName</key>
	<string>resultBufferFeedback</string>
	<key>kernelBeyondAction</key>
	<string>associatedStatelessShade</string>
	<key>lazyScaffoldVisibility</key>
	<string>instructionPrototypeCount</string>
	<key>subpixelVersusJob</key>
	<string>matrixBridgeFrequency</string>
</dict>
</plist>
