<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetActionBottom</key>
	<string>customStreamCenter</string>
	<key>errorWithoutFunction</key>
	<string>optionTaskDirection</string>
	<key>lastDelegateBrightness</key>
	<string>tappableRichtextState</string>
</dict>
</plist>
