<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateHistogramInterval</key>
	<string>groupActionInteraction</string>
	<key>injectionStageCount</key>
	<string>isolateThanContext</string>
	<key>methodVersusSystem</key>
	<string>semanticsAwayWork</string>
	<key>priorCardShape</key>
	<string>aspectVarDirection</string>
	<key>rowOrStrategy</key>
	<string>tickerParameterCoord</string>
	<key>secondResourceSkewx</key>
	<string>scaleFunctionOpacity</string>
</dict>
</plist>
