<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeScrollSkewy</key>
	<string>buttonStrategyTint</string>
	<key>independentChallengeLeft</key>
	<string>secondContainerCenter</string>
	<key>operationOrVariable</key>
	<string>metadataContainWork</string>
	<key>zoneSystemCenter</key>
	<string>beginnerStreamTag</string>
</dict>
</plist>
