<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnVersusPattern</key>
	<string>spineActionShade</string>
	<key>compositionInAction</key>
	<string>missionCommandTop</string>
	<key>getxTypeBound</key>
	<string>progressbarAndState</string>
	<key>logarithmPhaseAcceleration</key>
	<string>documentLikeStructure</string>
	<key>providerKindCenter</key>
	<string>documentAlongKind</string>
	<key>streamLevelDirection</key>
	<string>elasticUtilLeft</string>
</dict>
</plist>
