<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoSubscriptionStatus</key>
	<string>gramInterpreterVisibility</string>
	<key>checklistBeyondFunction</key>
	<string>loopStateBorder</string>
	<key>controllerOperationColor</key>
	<string>arithmeticWithoutWork</string>
	<key>resultByForm</key>
	<string>blocValueAlignment</string>
	<key>screenBridgeInteraction</key>
	<string>unactivatedUsecaseTint</string>
</dict>
</plist>
