<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveOutsideStrategy</key>
	<string>listviewInMode</string>
	<key>equalizationForLayer</key>
	<string>usecaseOfAction</string>
	<key>metadataAmongEnvironment</key>
	<string>overlayPerWork</string>
	<key>presenterVersusSystem</key>
	<string>unactivatedTransformerSkewx</string>
	<key>protocolDecoratorOrigin</key>
	<string>consumerLayerDuration</string>
	<key>usecaseOrState</key>
	<string>lostControllerFormat</string>
</dict>
</plist>
