<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grainLevelAppearance</key>
	<string>fixedInterfaceMargin</string>
	<key>hardBufferDuration</key>
	<string>delegateSinceStage</string>
	<key>imperativeRouteCenter</key>
	<string>statefulNumberInteraction</string>
	<key>mediocreAlertCount</key>
	<string>agileEventTint</string>
	<key>modelFlyweightLeft</key>
	<string>multiplicationCommandDistance</string>
	<key>multiSinkDensity</key>
	<string>tableThanPhase</string>
	<key>repositoryExceptAction</key>
	<string>constraintWorkSkewy</string>
</dict>
</plist>
