<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityTempleShape</key>
	<string>notificationViaProxy</string>
	<key>alertExceptVar</key>
	<string>cardValueOffset</string>
	<key>animationContainProxy</key>
	<string>relationalBuilderOrigin</string>
	<key>axisInMediator</key>
	<string>coordinatorVarSpeed</string>
	<key>layoutStateTint</key>
	<string>cubitProcessEdge</string>
	<key>movementDuringTier</key>
	<string>texturePlatformRight</string>
	<key>sizePhaseHue</key>
	<string>gemTaskTension</string>
	<key>tangentInsideCommand</key>
	<string>promiseOutsideParam</string>
	<key>threadVisitorAppearance</key>
	<string>painterPerTemple</string>
	<key>topicChainKind</key>
	<string>tweenSincePrototype</string>
</dict>
</plist>
