<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterTypeTension</key>
	<string>missedSwitchVisibility</string>
	<key>dropdownbuttonByShape</key>
	<string>coordinatorAlongCycle</string>
	<key>imageBesideVar</key>
	<string>sustainableInstructionStatus</string>
	<key>injectionDespiteMethod</key>
	<string>interactiveDescriptionOrientation</string>
	<key>positionContainVisitor</key>
	<string>zoneBesideStyle</string>
	<key>reducerOfScope</key>
	<string>heapSystemRotation</string>
	<key>sustainableIsolateBorder</key>
	<string>usecaseBesideInterpreter</string>
	<key>webPopupCount</key>
	<string>associatedTaskForce</string>
</dict>
</plist>
