<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorJobPadding</key>
	<string>rectBesideMemento</string>
	<key>groupExceptStrategy</key>
	<string>hierarchicalProjectionBrightness</string>
	<key>interactiveAxisDistance</key>
	<string>zoneChainSaturation</string>
	<key>interactorThanMode</key>
	<string>sustainableChannelDelay</string>
	<key>protocolNearInterpreter</key>
	<string>eventTempleSpacing</string>
</dict>
</plist>
