<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncCoordinatorFeedback</key>
	<string>dependencyAtMediator</string>
	<key>capacitiesStageShade</key>
	<string>containerShapeFlags</string>
	<key>deferredPrecisionSize</key>
	<string>sensorAmongType</string>
	<key>mapOperationDirection</key>
	<string>diffableCursorName</string>
	<key>mediaSystemTransparency</key>
	<string>crucialProtocolSpeed</string>
	<key>popupWithFlyweight</key>
	<string>monsterUntilSingleton</string>
	<key>positionAndPhase</key>
	<string>viewModeSkewy</string>
	<key>subtleSinkSkewy</key>
	<string>comprehensiveMissionPressure</string>
</dict>
</plist>
