<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateCompositeSize</key>
	<string>alphaAndSingleton</string>
	<key>disparateMissionPadding</key>
	<string>descriptionFlyweightHead</string>
	<key>functionalGesturedetectorSkewx</key>
	<string>delegateWithEnvironment</string>
	<key>loopShapeSpacing</key>
	<string>animatedcontainerActivityTail</string>
	<key>metadataVarPressure</key>
	<string>providerShapeBottom</string>
	<key>momentumAboutFlyweight</key>
	<string>protocolUntilType</string>
	<key>responseNearValue</key>
	<string>modelPerLayer</string>
</dict>
</plist>
