<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveAsFacade</key>
	<string>storageProcessKind</string>
	<key>customMediaTension</key>
	<string>greatBitrateOffset</string>
	<key>dialogsNumberName</key>
	<string>factoryVarInset</string>
	<key>finalStreamTension</key>
	<string>canvasAdapterInteraction</string>
	<key>imperativeMediaqueryTint</key>
	<string>concreteBulletMargin</string>
	<key>popupFacadeCount</key>
	<string>exceptionByLayer</string>
	<key>progressbarNumberStatus</key>
	<string>logLikeParam</string>
	<key>reductionFunctionPadding</key>
	<string>custompaintBesideSystem</string>
	<key>skinAwayChain</key>
	<string>intuitiveIsolateDuration</string>
	<key>textThanAdapter</key>
	<string>resourceDespiteBuffer</string>
</dict>
</plist>
