<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonCycleVelocity</key>
	<string>utilAboutVariable</string>
	<key>challengePlatformBrightness</key>
	<string>specifierTierLeft</string>
	<key>delicateExpandedVisibility</key>
	<string>widgetFormSpeed</string>
	<key>richtextActivityOrientation</key>
	<string>columnOutsideNumber</string>
</dict>
</plist>
