<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gestureAsTemple</key>
	<string>groupScopeVisible</string>
	<key>granularTernaryType</key>
	<string>sceneIncludeTemple</string>
	<key>interpolationFrameworkFlags</key>
	<string>aspectratioObserverDensity</string>
	<key>lossJobSpeed</key>
	<string>anchorFlyweightHead</string>
	<key>mediaqueryProcessDepth</key>
	<string>textureEnvironmentShade</string>
	<key>menuLevelRotation</key>
	<string>retainedCertificateType</string>
	<key>reductionThroughParam</key>
	<string>stampAwayStructure</string>
	<key>reusableReductionAlignment</key>
	<string>factoryNumberContrast</string>
	<key>semanticBaselineHead</key>
	<string>mobileNumberVisible</string>
	<key>viewModePressure</key>
	<string>rectAsStage</string>
</dict>
</plist>
