<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedHashDensity</key>
	<string>routeVersusType</string>
	<key>allocatorExceptMethod</key>
	<string>observerStyleVisible</string>
	<key>crudeGroupColor</key>
	<string>durationAroundBridge</string>
	<key>decorationDuringSystem</key>
	<string>symmetricTaskLocation</string>
	<key>intuitiveGraphicOrigin</key>
	<string>priorUsageMomentum</string>
	<key>invisibleLocalizationCount</key>
	<string>exceptionVarShade</string>
	<key>statelessChainVelocity</key>
	<string>asynchronousControllerForce</string>
	<key>taskParamDelay</key>
	<string>asyncActivityDensity</string>
</dict>
</plist>
