<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitMementoContrast</key>
	<string>similarToolAlignment</string>
	<key>commonAwaitDelay</key>
	<string>sizedboxSinceFlyweight</string>
	<key>consultativeNodeFrequency</key>
	<string>resizableMenuBorder</string>
	<key>directlyLayerDistance</key>
	<string>inactiveDelegateCoord</string>
	<key>mediaqueryLikeMediator</key>
	<string>semanticsProcessDelay</string>
	<key>menuThanChain</key>
	<string>previewWithPlatform</string>
	<key>semanticsVersusOperation</key>
	<string>containerInsideLayer</string>
	<key>smartMenuLeft</key>
	<string>nodePerPattern</string>
</dict>
</plist>
