<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorFacadeVisible</key>
	<string>widgetStrategyDistance</string>
	<key>arithmeticNotifierSize</key>
	<string>axisShapeSkewx</string>
	<key>logarithmFlyweightFlags</key>
	<string>viewOutsideState</string>
	<key>metadataFormState</key>
	<string>featureObserverDelay</string>
	<key>themeVarOffset</key>
	<string>respectiveSineSpeed</string>
	<key>toolDuringFunction</key>
	<string>errorUntilOperation</string>
	<key>widgetViaPlatform</key>
	<string>apertureTypeRotation</string>
</dict>
</plist>
