<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionActivityFrequency</key>
	<string>navigatorNearFlyweight</string>
	<key>explicitSkirtMargin</key>
	<string>sessionMementoLocation</string>
	<key>materialContainStyle</key>
	<string>accessoryFormSaturation</string>
	<key>protocolMementoDensity</key>
	<string>durationVarTension</string>
	<key>reducerCommandHead</key>
	<string>tabbarAmongChain</string>
	<key>scaleMediatorDepth</key>
	<string>difficultCallbackAppearance</string>
	<key>semanticCaptionDirection</key>
	<string>singletonSinceMethod</string>
	<key>textFlyweightVelocity</key>
	<string>specifierMementoCenter</string>
</dict>
</plist>
