<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveRadioPressure</key>
	<string>subsequentIconPressure</string>
	<key>entropyEnvironmentSkewx</key>
	<string>drawerAlongAction</string>
	<key>fixedInterfaceAlignment</key>
	<string>cosineAsAction</string>
	<key>hierarchicalBuilderStyle</key>
	<string>substantialMenuOpacity</string>
	<key>interpolationDuringContext</key>
	<string>constLogName</string>
	<key>transformerPrototypeHue</key>
	<string>queueSingletonBehavior</string>
</dict>
</plist>
