<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileHistogramOpacity</key>
	<string>intermediateConfigurationAlignment</string>
	<key>chapterViaJob</key>
	<string>enabledModelValidation</string>
	<key>cycleBesideStage</key>
	<string>dedicatedGridSpacing</string>
	<key>disabledDecorationOrientation</key>
	<string>tickerLikeVisitor</string>
	<key>exceptionByComposite</key>
	<string>labelProxyLeft</string>
	<key>gramBufferDelay</key>
	<string>smartSpineLeft</string>
	<key>navigationFormType</key>
	<string>lastTextTransparency</string>
	<key>remainderAwayVisitor</key>
	<string>buttonAlongAction</string>
	<key>taskTaskStatus</key>
	<string>monsterVarVelocity</string>
	<key>zoneInTier</key>
	<string>routerVisitorTint</string>
</dict>
</plist>
