<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imagePrototypeRotation</key>
	<string>directDependencyEdge</string>
	<key>requestMediatorTag</key>
	<string>subtleDurationVisible</string>
	<key>utilAmongEnvironment</key>
	<string>builderOutsideStructure</string>
</dict>
</plist>
