<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerBaseSkewy</key>
	<string>textureFormInterval</string>
	<key>borderCompositeMomentum</key>
	<string>referenceDecoratorPressure</string>
	<key>currentReductionLeft</key>
	<string>agilePreviewContrast</string>
	<key>dependencyDecoratorSkewy</key>
	<string>variantExceptVariable</string>
	<key>nibInVariable</key>
	<string>swiftScopeAcceleration</string>
	<key>nodeThanSystem</key>
	<string>cosineThroughShape</string>
</dict>
</plist>
