<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitAtAction</key>
	<string>requiredScrollMomentum</string>
	<key>futureCommandStyle</key>
	<string>playbackExceptNumber</string>
	<key>futureDuringScope</key>
	<string>canvasAmongEnvironment</string>
	<key>heapSinceEnvironment</key>
	<string>immediateHeroBrightness</string>
	<key>layerViaPhase</key>
	<string>statefulBridgeBrightness</string>
	<key>richtextBesideVisitor</key>
	<string>associatedChartKind</string>
	<key>sizeTypeDensity</key>
	<string>logarithmAsFlyweight</string>
	<key>widgetStructureVisible</key>
	<string>gestureDespiteProxy</string>
</dict>
</plist>
