<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveFunctionDirection</key>
	<string>activityThanPattern</string>
	<key>heroNearLevel</key>
	<string>isolateOutsideObserver</string>
	<key>interfaceBesideCommand</key>
	<string>batchBufferDuration</string>
	<key>logModeSkewx</key>
	<string>opaqueInjectionForce</string>
	<key>mobileMemberDensity</key>
	<string>viewActivityTop</string>
	<key>slashAtTier</key>
	<string>resultUntilType</string>
	<key>sustainableKernelSpeed</key>
	<string>monsterFrameworkVisibility</string>
	<key>topicIncludeInterpreter</key>
	<string>currentStampOrigin</string>
</dict>
</plist>
