<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerAboutVariable</key>
	<string>navigatorThanEnvironment</string>
	<key>draggableErrorSaturation</key>
	<string>configurationParamOffset</string>
	<key>iconCommandMargin</key>
	<string>numericalIndicatorDepth</string>
	<key>semanticBitrateFrequency</key>
	<string>lastTransitionHead</string>
	<key>sizeAndTemple</key>
	<string>subsequentConfigurationMomentum</string>
	<key>tappableEventAcceleration</key>
	<string>popupParamTag</string>
	<key>ternaryOrNumber</key>
	<string>resultVersusObserver</string>
	<key>titleSystemPressure</key>
	<string>subtleStatefulBehavior</string>
</dict>
</plist>
