<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelWithNumber</key>
	<string>substantialSpecifierName</string>
	<key>crudeShaderMomentum</key>
	<string>petInsideSystem</string>
	<key>lastNibOffset</key>
	<string>radiusProxyMode</string>
	<key>movementThanFacade</key>
	<string>precisionThanBridge</string>
</dict>
</plist>
