<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionDespiteType</key>
	<string>resizableCaptionAlignment</string>
	<key>euclideanConstraintTail</key>
	<string>largeCupertinoDuration</string>
	<key>lossFunctionValidation</key>
	<string>descriptionBufferStyle</string>
	<key>memberOutsideSingleton</key>
	<string>characterWithoutPlatform</string>
	<key>segmentVarDelay</key>
	<string>materialContainerSize</string>
	<key>storageAwayAction</key>
	<string>mediaqueryScopeVelocity</string>
</dict>
</plist>
