<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyFrameworkOrigin</key>
	<string>fragmentDespiteCycle</string>
	<key>euclideanContainerDistance</key>
	<string>playbackMediatorIndex</string>
	<key>functionalNotifierInterval</key>
	<string>asyncGateShape</string>
	<key>materialSinkInteraction</key>
	<string>comprehensiveBehaviorType</string>
	<key>providerExceptJob</key>
	<string>descriptionAboutLayer</string>
	<key>queryExceptContext</key>
	<string>skirtViaFunction</string>
	<key>queueThanTier</key>
	<string>nodeChainTension</string>
	<key>responseForAction</key>
	<string>transitionDuringParam</string>
	<key>spriteModeTension</key>
	<string>semanticsAroundInterpreter</string>
</dict>
</plist>
