<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerProfileRotation</key>
	<string>synchronousRouteColor</string>
	<key>chartCompositeLocation</key>
	<string>movementPhaseInteraction</string>
	<key>constraintExceptFunction</key>
	<string>disabledPositionRate</string>
	<key>currentTickerPadding</key>
	<string>inactiveChapterDuration</string>
	<key>graphicSinceLayer</key>
	<string>extensionTypeTail</string>
	<key>presenterActionFlags</key>
	<string>localizationOfActivity</string>
	<key>secondSubscriptionTension</key>
	<string>secondControllerPadding</string>
</dict>
</plist>
