<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionTempleBrightness</key>
	<string>resolverTempleDelay</string>
	<key>animationBufferLocation</key>
	<string>protocolAdapterBound</string>
	<key>exceptionForScope</key>
	<string>expandedFacadeDelay</string>
	<key>gradientVisitorVisibility</key>
	<string>fragmentWithChain</string>
	<key>originalLossBrightness</key>
	<string>scaleFacadeTheme</string>
	<key>positionedWorkBottom</key>
	<string>semanticContractionForce</string>
	<key>reactiveSegueType</key>
	<string>activeGemDelay</string>
	<key>stepBufferOrigin</key>
	<string>entityBridgeOrientation</string>
	<key>visibleCubitDuration</key>
	<string>scaleSinceTemple</string>
</dict>
</plist>
