<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableBaseTint</key>
	<string>utilAmongFramework</string>
	<key>graphNearParameter</key>
	<string>behaviorBesideMemento</string>
	<key>reducerThanSingleton</key>
	<string>arithmeticFormMargin</string>
	<key>roleFunctionName</key>
	<string>widgetShapeMode</string>
</dict>
</plist>
