<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineVariableFrequency</key>
	<string>awaitCompositeCenter</string>
	<key>granularConsumerMargin</key>
	<string>canvasAtTemple</string>
	<key>granularRoleResponse</key>
	<string>mediumMovementTension</string>
	<key>imperativeMenuSize</key>
	<string>metadataLikeCycle</string>
	<key>invisibleDescriptionDirection</key>
	<string>tickerAboutTemple</string>
	<key>nodePrototypeCoord</key>
	<string>deferredCubitContrast</string>
	<key>opaqueServiceMargin</key>
	<string>positionedOutsideContext</string>
	<key>resultWithoutValue</key>
	<string>tappableRequestFeedback</string>
	<key>spriteLikeVariable</key>
	<string>materialBehaviorPadding</string>
	<key>techniqueDuringPrototype</key>
	<string>layoutPhaseBorder</string>
</dict>
</plist>
