<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchBufferStatus</key>
	<string>boxVisitorColor</string>
	<key>deferredGemHead</key>
	<string>nibOperationLeft</string>
	<key>errorShapeIndex</key>
	<string>enabledReducerRate</string>
	<key>exponentExceptVar</key>
	<string>priorityPhaseMargin</string>
	<key>handlerAndTemple</key>
	<string>delicateLabelAlignment</string>
	<key>layerOutsideMediator</key>
	<string>gridviewWithoutSystem</string>
	<key>modelCycleName</key>
	<string>reducerInObserver</string>
	<key>nibMediatorBound</key>
	<string>menuAtStyle</string>
	<key>persistentZoneOpacity</key>
	<string>arithmeticBufferDirection</string>
	<key>timerParamSkewx</key>
	<string>interactiveRouteInteraction</string>
</dict>
</plist>
