<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorObserverInterval</key>
	<string>controllerDuringForm</string>
	<key>builderPhaseSpeed</key>
	<string>listenerWithDecorator</string>
	<key>channelParameterBound</key>
	<string>responsiveLogarithmHue</string>
	<key>customAnimationSpacing</key>
	<string>lostVariantBottom</string>
	<key>entityContainVar</key>
	<string>controllerPatternVisible</string>
	<key>localizationTempleShade</key>
	<string>matrixActionInset</string>
	<key>nextContainerInteraction</key>
	<string>axisPhaseDuration</string>
</dict>
</plist>
