<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveCompleterSpacing</key>
	<string>reducerPlatformName</string>
	<key>animatedcontainerOfPrototype</key>
	<string>interactiveManagerState</string>
	<key>blocBeyondFunction</key>
	<string>injectionNearState</string>
	<key>compositionPlatformCount</key>
	<string>gridTierColor</string>
	<key>dynamicSegueTheme</key>
	<string>presenterKindShape</string>
	<key>futurePhaseOffset</key>
	<string>advancedRiverpodRate</string>
	<key>ignoredLabelVisible</key>
	<string>effectPerSingleton</string>
	<key>sortedTweenDepth</key>
	<string>draggableSwiftAppearance</string>
</dict>
</plist>
