<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationTierForce</key>
	<string>builderThanKind</string>
	<key>dimensionViaMode</key>
	<string>decorationOperationDuration</string>
	<key>hashNumberAppearance</key>
	<string>dimensionForComposite</string>
	<key>listviewVariableDuration</key>
	<string>interactorDespiteFacade</string>
	<key>musicOutsideAdapter</key>
	<string>tensorUsageKind</string>
	<key>relationalMediaqueryTransparency</key>
	<string>builderOperationType</string>
	<key>resilientResultRotation</key>
	<string>presenterInState</string>
	<key>sharedSkinDirection</key>
	<string>geometricLayoutEdge</string>
</dict>
</plist>
