<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterParameterTop</key>
	<string>opaqueSceneMomentum</string>
	<key>cupertinoVisitorFlags</key>
	<string>customizedBoxPosition</string>
	<key>equipmentBeyondCycle</key>
	<string>nativeServiceRight</string>
	<key>immutableBuilderValidation</key>
	<string>activityScopeIndex</string>
	<key>permanentCompositionValidation</key>
	<string>prioritySystemOrientation</string>
	<key>primarySceneRotation</key>
	<string>stampAdapterTag</string>
	<key>tangentDespiteVariable</key>
	<string>localizationSinceValue</string>
</dict>
</plist>
