<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistDespiteProxy</key>
	<string>chartFormTransparency</string>
	<key>extensionOutsideMemento</key>
	<string>routeFacadeOrigin</string>
	<key>gemValueFlags</key>
	<string>chartWithoutCycle</string>
	<key>integerAsPattern</key>
	<string>secondMultiplicationStyle</string>
	<key>publicRequestRight</key>
	<string>similarSliderForce</string>
	<key>specifyChannelsSpeed</key>
	<string>uniqueTickerState</string>
	<key>temporaryLayoutPosition</key>
	<string>disparateFeatureTransparency</string>
	<key>ternaryStageCenter</key>
	<string>reductionAboutParameter</string>
</dict>
</plist>
