<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetInterpreterType</key>
	<string>titleAwaySystem</string>
	<key>buttonOperationMomentum</key>
	<string>dimensionActionTag</string>
	<key>durationIncludeCommand</key>
	<string>listenerStyleCount</string>
	<key>interfaceLayerBound</key>
	<string>usecaseContainState</string>
	<key>loopAdapterFeedback</key>
	<string>effectPlatformOrigin</string>
	<key>mediaqueryForChain</key>
	<string>stateMediatorLocation</string>
	<key>priorZoneRight</key>
	<string>dependencyBeyondWork</string>
	<key>roleThanParam</key>
	<string>containerProxyOrientation</string>
	<key>widgetValueTint</key>
	<string>kernelJobMargin</string>
	<key>zoneAlongVar</key>
	<string>cardAlongParameter</string>
</dict>
</plist>
