<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerWithForm</key>
	<string>radiusOperationCenter</string>
	<key>musicDuringVariable</key>
	<string>themePlatformRight</string>
	<key>nextProviderBottom</key>
	<string>tensorWidgetInset</string>
	<key>oldBorderDuration</key>
	<string>globalAnimationBehavior</string>
	<key>semanticInterfaceSpacing</key>
	<string>prevSwiftLeft</string>
	<key>sortedMediaDepth</key>
	<string>gridAtState</string>
	<key>spriteAtScope</key>
	<string>rapidRequestFrequency</string>
	<key>sustainableAppbarEdge</key>
	<string>graphSinceShape</string>
</dict>
</plist>
