<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptivePageviewColor</key>
	<string>sliderWithVariable</string>
	<key>cellShapeBorder</key>
	<string>offsetIncludeChain</string>
	<key>composableGetxSkewx</key>
	<string>semanticAnchorOrientation</string>
	<key>compositionalGrayscaleSpacing</key>
	<string>specifySliderInteraction</string>
	<key>equipmentViaMethod</key>
	<string>themeAroundComposite</string>
	<key>frameValueLeft</key>
	<string>asyncActionSpacing</string>
	<key>responseAwayBridge</key>
	<string>storyboardWithoutBridge</string>
	<key>widgetContextTop</key>
	<string>directlyRouteIndex</string>
</dict>
</plist>
