<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarContextTheme</key>
	<string>textStyleCenter</string>
	<key>capsuleStructureAlignment</key>
	<string>typicalSizeOrientation</string>
	<key>channelsAlongStrategy</key>
	<string>parallelInjectionDepth</string>
	<key>chartOfInterpreter</key>
	<string>numericalRiverpodTop</string>
	<key>constraintTempleInset</key>
	<string>constraintContainComposite</string>
	<key>draggableSignatureFlags</key>
	<string>crucialCubitVelocity</string>
	<key>independentMenuSkewy</key>
	<string>lossBeyondKind</string>
	<key>oldMobxForce</key>
	<string>layoutActionInset</string>
	<key>requiredPlaybackMode</key>
	<string>marginByFlyweight</string>
	<key>specifyBinaryInterval</key>
	<string>inkwellBufferFrequency</string>
</dict>
</plist>
