<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyDuringVisitor</key>
	<string>coordinatorExceptScope</string>
	<key>effectEnvironmentRate</key>
	<string>subscriptionNumberOrientation</string>
	<key>exceptionMethodStatus</key>
	<string>storeByTask</string>
	<key>indicatorMediatorDelay</key>
	<string>slashStructureInset</string>
	<key>interactorVarBorder</key>
	<string>actionBesideTask</string>
	<key>nativeInkwellPadding</key>
	<string>resourceCommandHead</string>
	<key>observerNearBridge</key>
	<string>managerInKind</string>
	<key>scaleFunctionName</key>
	<string>directlyChannelDepth</string>
	<key>utilKindMomentum</key>
	<string>mobxSinceSingleton</string>
</dict>
</plist>
