<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerAroundActivity</key>
	<string>localizationContextTension</string>
	<key>discardedMenuCount</key>
	<string>storageDecoratorOrigin</string>
	<key>effectCycleFormat</key>
	<string>asynchronousMetadataInterval</string>
	<key>globalPrecisionSaturation</key>
	<string>stepObserverTag</string>
	<key>indicatorOfLayer</key>
	<string>concreteRepositoryVelocity</string>
	<key>paddingAmongType</key>
	<string>symbolViaType</string>
	<key>positionedLayerTail</key>
	<string>priorityAwayInterpreter</string>
	<key>scaleBridgeCoord</key>
	<string>grayscaleJobTop</string>
</dict>
</plist>
