<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonNumberHead</key>
	<string>borderTempleVisible</string>
	<key>customManagerDensity</key>
	<string>zoneSystemMargin</string>
	<key>graphBesideForm</key>
	<string>accordionTweenSkewx</string>
	<key>mediaPerInterpreter</key>
	<string>challengeAwayVar</string>
	<key>queryInterpreterAlignment</key>
	<string>liteObserverCoord</string>
</dict>
</plist>
