<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalGraphShape</key>
	<string>assetLikeBuffer</string>
	<key>matrixAboutNumber</key>
	<string>sharedCertificateName</string>
	<key>menuAboutState</key>
	<string>immediateHeapBottom</string>
	<key>modelScopeInset</key>
	<string>topicInsideStructure</string>
	<key>nextAnimatedcontainerStyle</key>
	<string>allocatorPrototypePadding</string>
	<key>symmetricMethodDelay</key>
	<string>nextMetadataColor</string>
	<key>textPerKind</key>
	<string>parallelProviderBrightness</string>
	<key>utilViaCycle</key>
	<string>rowCompositeShape</string>
</dict>
</plist>
