<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleSinceParameter</key>
	<string>agileAlphaType</string>
	<key>custompaintContainOperation</key>
	<string>tangentLikePattern</string>
	<key>monsterOfMediator</key>
	<string>metadataParamPosition</string>
	<key>promiseFromProcess</key>
	<string>subtleIconTheme</string>
	<key>queryFromFlyweight</key>
	<string>labelOfChain</string>
	<key>remainderLayerSkewy</key>
	<string>brushAwayDecorator</string>
	<key>textDuringProcess</key>
	<string>streamFunctionSaturation</string>
</dict>
</plist>
