<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterSinceMemento</key>
	<string>integerAndVisitor</string>
	<key>decorationOrStructure</key>
	<string>signatureMementoRotation</string>
	<key>nodeFormShade</key>
	<string>assetBridgeCenter</string>
	<key>precisionPlatformTheme</key>
	<string>deferredWidgetOpacity</string>
	<key>requestPhaseForce</key>
	<string>sizeProxyFlags</string>
	<key>unaryTypeMomentum</key>
	<string>commonInstructionTheme</string>
</dict>
</plist>
