<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisPlatformRotation</key>
	<string>flexMethodDepth</string>
	<key>captionActivityPadding</key>
	<string>tabbarByPattern</string>
	<key>currentRadiusResponse</key>
	<string>sliderStrategySpeed</string>
	<key>hardPaddingIndex</key>
	<string>hierarchicalSlashLeft</string>
	<key>musicForPattern</key>
	<string>reducerContextOpacity</string>
	<key>tabviewFlyweightSkewx</key>
	<string>chartMethodCenter</string>
</dict>
</plist>
