<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderPhaseCoord</key>
	<string>signStyleTop</string>
	<key>difficultReductionBehavior</key>
	<string>entropyDespiteSingleton</string>
	<key>entityAgainstPrototype</key>
	<string>gridDuringWork</string>
	<key>equalizationContainFramework</key>
	<string>reducerOrComposite</string>
	<key>errorAtVisitor</key>
	<string>subsequentStreamOffset</string>
	<key>mainTextForce</key>
	<string>immediateExceptionLocation</string>
	<key>previewOperationState</key>
	<string>storeFrameworkTail</string>
	<key>resizableSkirtInset</key>
	<string>listenerActivityVelocity</string>
	<key>unsortedVectorTint</key>
	<string>pointPhaseHead</string>
</dict>
</plist>
