<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsStateRight</key>
	<string>intermediateThreadOrientation</string>
	<key>eagerTangentBound</key>
	<string>boxNumberCoord</string>
	<key>positionTypeHue</key>
	<string>priorPopupTail</string>
	<key>prevButtonDirection</key>
	<string>axisVariableTop</string>
	<key>riverpodFromWork</key>
	<string>frameStageSkewy</string>
	<key>swiftForValue</key>
	<string>customizedChannelsShade</string>
</dict>
</plist>
