<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationPhaseOrigin</key>
	<string>positionVariableSkewy</string>
	<key>enabledGroupKind</key>
	<string>sophisticatedChannelsTag</string>
	<key>greatEventPadding</key>
	<string>containerDecoratorSpacing</string>
	<key>imperativeSpotKind</key>
	<string>heapAroundProcess</string>
	<key>protectedVectorBrightness</key>
	<string>webProfileSpacing</string>
</dict>
</plist>
