<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleNibValidation</key>
	<string>rectAboutForm</string>
	<key>boxPhaseContrast</key>
	<string>futureContainStyle</string>
	<key>catalystDuringMethod</key>
	<string>histogramAdapterDepth</string>
	<key>completionParamStatus</key>
	<string>delicateNotificationEdge</string>
	<key>delicateDrawerVelocity</key>
	<string>finalGetxMomentum</string>
	<key>finalTransitionLocation</key>
	<string>discardedSpotSpeed</string>
	<key>hierarchicalBaseBrightness</key>
	<string>alphaDespiteActivity</string>
	<key>previewParamBorder</key>
	<string>denseMethodRotation</string>
	<key>responsiveListviewFormat</key>
	<string>particleTierBound</string>
	<key>topicNumberLeft</key>
	<string>grainVariableAlignment</string>
</dict>
</plist>
