<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>monsterNearTemple</key>
	<string>sizedboxAndVariable</string>
	<key>spotDuringSystem</key>
	<string>statelessAtActivity</string>
	<key>statelessRiverpodType</key>
	<string>protectedErrorValidation</string>
	<key>themeOutsideTemple</key>
	<string>webTextInteraction</string>
	<key>viewStructureDirection</key>
	<string>permissiveMusicTag</string>
</dict>
</plist>
