<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationLayerFormat</key>
	<string>flexInParam</string>
	<key>beginnerEntityShape</key>
	<string>durationMethodEdge</string>
	<key>challengeExceptStrategy</key>
	<string>logarithmPrototypeHue</string>
	<key>constraintDecoratorSkewx</key>
	<string>effectWithoutValue</string>
	<key>crudeModulusContrast</key>
	<string>baseOfVisitor</string>
	<key>difficultPrecisionTag</key>
	<string>threadAdapterShade</string>
	<key>menuExceptFlyweight</key>
	<string>allocatorNearFlyweight</string>
	<key>radiusStyleName</key>
	<string>mediocreAwaitAppearance</string>
</dict>
</plist>
